@charset "utf-8";


/* Reset */

body, h1, h2, h3, h4,
form, fieldset, input, label, p,
em, strong, a, img, ul, li {
	vertical-align: baseline;
	font-style: normal;
  list-style-type: none;
	padding: 0;
  margin: 0;
  border: 0;
}

header, footer, aside,
nav, article, section { display:block; }

html {
  font-size: 62.5%;
  min-height: 100%; /* Fix footer */
  position: relative; /* Fix footer */
}


/* Generic */

body {
  font-family: inherit;
  vertical-align: baseline;
  font: $font-medium $sans_serif;
  color: rgb(71, 60, 60);
}

p { margin:0 0 20px 0; }
label { cursor:pointer; }
img { border:none; }

h1,
h2,
h3,
h4,
h5,
h6 { font-family: 'Lato', sans-serif; }

a { color: $he_red; }
span.red { color: #b20000; }


/* ====================
Progress Bar
==================== */

#instantclick-bar {
  background: #fff;
  height: 5px;
}


/* ====================
Patterns
==================== */

.containner {
  width: 960px;
  margin: auto;
}

.default {
  width: 100%;
  height: 75px;
  border-top: 5px solid $he_red;
  box-shadow: 0 -24px 8px 27px rgba(0, 0, 0, .1);
  position: fixed;
  background: #fff;
  left: 0;
  top: 0;
  z-index: 1200;
  float: left;

  .logo {
    width: 160px;
    margin-top: 10px;
    float: left;

    &:hover {
      opacity: .8;
    }
  } // .logo
}


/* Nav */

#menu2 {
  margin-top: 18px;
  text-align: right;
  float: right;

  li {
    display: inline;
    margin-left: 0;
  }

  a {
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: $font-small;
    display: inline-block;
    color: $grey3;

    &:hover {
      background-color: #333 !important;
      color: #fff;
    }
  }
}


/* Header configs */

#home {
  .default {
    background: rgba(#fff, 0);
    box-shadow: none;
  }
  
  #menu2 {
    a {
      background: rgba(#fff, .7);
    }
  } // #menu2
}

.default.tiny,
#home .default.tiny {
  height: 40px;
  background: rgba(#fff, .9);
  box-shadow: 0 -24px 8px 27px rgba(0, 0, 0, .1);
  
  .logo {
    width: 90px;
    margin-top: 4px;
  }
}

.default.tiny {
  
  #menu2 {
    margin-top: 7px;

    a {
      height: 24px;
      border-color: rgba(#fff, .9);
      line-height: 24px;
      font-size: 11px;
    }
  } // #menu2
}


/* Languages */

.languages {
  background: $he_red;
  position: absolute;
  right: 10px;
  top: -7px;
  padding: 5px 7px;
  text-decoration: none;
  font-size: 11px;
  color: #ffe3e2;

  &:hover {
    opacity: 1;
    color: #fff;
  }
}


/* Mobile Menu */

#menu-trigger {
  @include round_borders (4px);
  height: 36px;
  line-height: 36px;
  padding: 0 10px 0 10px;
  background: $grey4;
  position: absolute !important;
  right: 5%;
  top: 10px;
  display: none;
  color: #fff;
  cursor: pointer;
}

.current-page {
  color: #fff !important;
  background: $he_red;
}


/* ====================
Video Gallery
==================== */

.videothumbs {
  text-align: center;

  li {
    width: 41%;
    border: 1px solid $grey1;
    background: #fff url("/images/play.jpg") no-repeat;
    background-size: 100%;
    margin: 0 3% 30px 3%;
    padding: 10px;
    display: inline-block;
    font-size: $font-medium;
    opacity: 1;

    h5 {
      margin: 10px 0 0 0;
      font-size: $font-medium;
      color: #000;
    }

    img {
      width: 100%;
      display: block;
      opacity: .7;

      &:hover { opacity: 1; }
    }
  }
}

#contract-videos {

  ul {
    margin: 50px 0 0 17px;

    li {
      width: 26%;
      height: 290px;
      margin: 0 3% 20px 3%;
      background: #fff url("/images/play.jpg") 15px 10px no-repeat;
      background-size: 100%;
      float: left;
      opacity: 1;

      h5 {
        margin: 10px 0 0 0;
        font-size: $font-medium2;
        line-height: 24px;
        color: #000;
      }

      a img {
        border: 1px solid $grey1;
        padding: 10px;
      }

      img {
        width: 100%;
        display: block;
        opacity: .7;

        &:hover { opacity: 1; }
      }

    } // li
  } // .videothumbs
}


/* ====================
Cover
==================== */

#cover-banner, #cases-banner {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  //@include red_gradient;
  background: $grey3;
  text-align: center;
  margin-top: 80px;
  padding: 35px 0 40px 0;
  color: $white;

  h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 55px;
    line-height: 65px;
    color: $white;
  }

  p {
    font-weight: 300;
    text-transform: uppercase;
    margin: 10px 0 0 0;
    font-size: $font-large;
  }

  ul { margin: 30px 0 0 0; }

  li {
    margin: 0 10px 0 10px;
    display: inline-block;
  }
}

#cover-banner.en-cover {
  margin-top: 0 !important;
  border-top: 1px solid #fff;
}

.open-developer,
.open-designer {
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  @include round_borders (40px);
  width: 140px;
  height: 50px;
  background: #fff;
  line-height: 50px !important;
  padding: 0 20px 0 20px;
  font: bold 1.2em 'lato', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #b30000;
  display: block;
  float: left;

  &:hover {
    opacity: .9;
  }
}


/* ====================
Privacy
==================== */

#privacy { padding: 40px 0 40px 0; }

.topics {
  margin-bottom: 30px;

  li {
    list-style-type: circle;
    margin: 10px 0 0 30px;
  }

  li:first-child { margin-top: 0 !important; }
}


// Testimonials List

.test-list {
  border-top: 10px solid $light-grey2;
  padding-bottom: 35px;
  @include clearfix;

  li {
    width: 75%;
    margin: auto;
    padding: 20px 20px 25px 20px;
    margin-bottom: 15px;
  }
  
  li:nth-child(odd) {
    background: $light-grey1;
  }

  li:nth-child(even) {
    background: $light-grey2;
  }

  h3 {
    margin: 55px 0 50px 0;
    font-size: $font-big;
    text-align: center;
    text-transform: uppercase;
  }

  li p {
    font-size: $font-medium;
    font-style: italic;
    font-family: Georgia, serif;
    line-height: 24px;
    margin: 0 0 12px 0;
  }
  
  img {
    border-radius: 40px;
    width: 80px;
    float: left;
  }
  
  .test-infos {
    margin-left: 100px;
  }
}

.client-name {
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  font-size: $font-medium;
  color: $grey3;
}


/* Cases */

.our-cases { 
  padding: 20px 0 40px 0;
  background: $light-grey2;
  @include clearfix;

  li {
    width: 46%;
    display: inline-block;
    height: 500px;
    margin-top: 45px;

    a img {
      box-shadow: 0 1px 3px $grey2;
      border-radius: 3px;
      width: 96%;
      padding: 2%;
      background: $white;
    }
    
    .info {
      margin-top: 20px;
      
      p {
        line-height: 25px;
        font-size: $font-medium;
        margin: 0;
      }
      
      a {
        margin-top: 15px;
      }
    }
    
    h5 {
      font-size: $font-medium2;
      text-transform: uppercase;
      margin: 0 0 10px 0;
    }
  }
  
  li:nth-child(odd) {
    float: left;
  }

  li:nth-child(even) {
    float: right;
  }
}


/* Bottom Nav */

.bottom-nav {
  border-top: 1px solid #eaeaea;
  padding: 20px 0;
  background: $light-grey2;
  clear: both;
  text-align: center;
}


/* Red Button */

.red-button {
  border-radius: 3px;
  height: 60px;
  line-height: 60px !important;
  background: $he_red;
  text-decoration: none;
  text-transform: uppercase;
  font: $font-large 'lato';
  display: inline-block;
  padding: 0 20px;
  z-index: 9999;
  color: #fff;

  &:hover {
    opacity: .9;
  }
}


/* More Link */

.more-link {
  height: 30px;
  line-height: 30px;
  border-radius: 3px;
  background: $he_red;
  color: $white;
  padding: 0 10px;
  text-decoration: none;
  display: inline-block;
  font-size: $font-small;
  font-weight: bold;
  
  &:hover {
    opacity: .8;
  }
}


/* Footer */

.main {
  padding-bottom: 269px; /* Fix footer */
}

footer {
  border-top: 1px solid #fff;
  width: 100%;
  background-color: $grey4;
  padding: 30px 0 70px 0;
  font-size: $font-medium;
  position: absolute;
  bottom: 0;

  a {
    text-decoration: none;
    color: #ccc;

    &:hover {
      opacity: 1;
      color: #fff;
    }
  } // a
}

.tel {
  @include round_borders (2px);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 3px 5px 1px 5px;
  margin: 6px 0 12px 0;
  display: inline-block;
  color: #fff;
}

.offices {
  overflow: hidden;

  li {
  	width: 18%;
    background: #3b3b3b;
    margin-right: 1%;
    padding: 15px 2%;
    line-height: 17px;
    font-size: $font-small;
    float: left;
  }
  
  .salvador {
    width: 30%;
  }

  .social-he-links {
    background: none;
    float: right;
    padding-left: 0;
    padding-right: 0;
  }

  address span {
    display: block;
  }

  h3 {
    text-transform: uppercase;
    margin: 7px 0 7px 0;
    color: #fff;
  }

  li.social-he-links {
  	width: 90px;
    margin-right: 0;

    a {
      display: block;
      background: #3b3b3b url("/images/icons/profile-social.png") no-repeat;
      color: #fff;
      text-align: left;
      height: 30px;
      margin-bottom: 2px;
      line-height: 30px;
      padding: 0 0 0 38px;
      text-align: left;
      text-decoration: none;

      &:hover {
        background-color: $he_red;
      }

      &.github {
        background-position: 3px -60px;
      }

      &.dribble {
        background-position: 3px -30px;
      }

      &.twitter {
        background-position: 3px 1px;
      }
    }
  }
}

.footer-links {
  width: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
  height: 40px;
  line-height: 40px;
  color: #fff;
  position: absolute;
  font-size: $font-small;
  margin: 0;
  bottom: 0;
  left: 0;

  p {
    margin: 0;
    float: left;
  }

  ul {
    float: right;
  }

  li {
    margin-left: 20px;
    display: inline-block;
  }
}


/* Webkit Hacks */

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner {
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner {
		border-top-color: rgba(20,20,20,0.92);
	}
}
