@charset "utf-8";


/*
Max Width, 686px
Media Queries for Smartphones
------------------------------------------------------------------------------*/

@media only screen and (max-width: 686px) {

  .containner {
    width: 90%;
    padding: 0 5%;
  }

  header.default,
  header.default.tiny {
    height: auto;
    padding: 10px 0;

    .logo {
      width: 100px;
      margin: 0;
    }
  }
  
  #menu2 {
    a {
      margin-left: 0;
      margin-bottom: 1px;
    }
  }
  
  #home {
    .default {
      background: rgba(#fff, 1);
      box-shadow: 0 -24px 8px 27px rgba(0, 0, 0, .1);
    }
  
    #menu2 {
      a {
        background: #333;
      }
    } // #menu2
  }

  #menu-trigger {
    display: inline-block;
  }

  #home section.testmonial {
    padding: 25px 0 10px 0 !important;

    blockquote {
      font-size: $font-medium2;
      line-height: 24px;
    }
  }

  #menu2 {
    width: 100%;
    text-align: left;
    display: none;

    li {
      display: block;
      margin: 1px 0 0 0;
    }

    a {
      border-radius: 0;
      width: 94%;
      padding: 0 3% 0 3%;
      background: $grey4;
      text-transform: none;
      font-size: $font-medium;
      color: #fff;
      display: !important;
      float: left;

      &:hover {
        opacity: 1;
        background: $he_red;
        color: #fff;
      }
    } // a
  }

  .current-page {
    box-shadow: none;
    background: $he_red !important;
    border: none !important;
    margin-left: 1px;
  }

  .languages {
    background: none;
    padding: 0;
    right: 95px;
    top: 21px;
    color: $grey3;

    &:hover {
      opacity: 1;
      color: $he_red;
    }
  }


  /* Home */

  #home {
    section.hero {
      padding: 110px 0 30px 0;
      border-bottom: none;

      h2 {
        font-size: $font-big;
      }
    }

    section.what-we-do {
      padding: 0 0 60px 0;

      &:before { display: none; }

      article {
        width: 100%;
        margin: 60px 0 0 0;
        height: auto;

        &:after {
          display: none;
        }
      }
    }

    section.testmonial {
      padding: 20px 0;

      em, i {
        width: 100%;
        text-align: left;
      }

      em {
        font-size: 16px;
        line-height: 28px;
      }

      i {
        margin-top: 20px;
      }

      figure { display: none; }
    }

    section.our-blog {
      padding: 30px 0;

      h4 {
        text-align: left;
        font-size: 26px;
      }

      p {
        text-align: left;
        margin: 15px 0 30px;
      }

      article {
        width: 100%;
        margin: 10px auto;
        text-align: left;

        a {
          font-size: 16px;

          &:hover { color: $grey4; }
        }

        p {
          margin-top: 0;
          text-align: left;
        }
      }
    }
  }


  /* Breadcrumbs */

  #breadcrumbs {
    margin-top: 78px;
    margin-bottom: -60px;
  }


  /* Cover Banner */

  #cover-banner {
    margin-top: 60px;
    padding: 30px 0 30px 0;

    h2 {
      font-size: $font-large2;
      line-height: 30px;
      margin: 0 !important;
      line-height: auto !important;
    }

    p {
      font-size: $font-medium2;
      margin: 10px 0 0 0;
    }

    iframe {
      width: 98%;
      height: auto;
      min-height: 200px;
      border: none;
      padding: 1%;
    }
  }


  /* Mailing */

  #cover-mailing {
    margin-top: 60px;

    h2 {
      font-size: 32px;
      line-height: 35px;
    }

    .sup {
      font-size: $font-medium2;
      margin: 10px 0 0 0;
    }

    input[type="text"],
    input[type="email"] {
      width: 96%;
      padding: 0 2% 0 2%;
      margin: 25px 0 25px 0;
    }

    input[type="submit"] { margin-bottom: 25px; }
  }


  /* Red Button */

  .red-button {
    @include round_borders (12px);
    width: 250px;
    height: auto;
    padding: 15px !important;
    text-align: center;
    font-size: $font-medium2;
  }

  #time .red-button { margin-bottom: 40px; }


  /* Sobre Nós */

  #about-us {

    section {
      h4 {
        text-align: left;
        font-size: 24px;
      }

      em {
        width: 100%;
        margin-top: 10px;
        text-align: left;
        font-size: 16px;
        line-height: 30px;
        font-style: normal;
      }

      p {
        width: 100%;
        margin-top: 15px;
        text-align: left;
        font-size: $font-medium;
        line-height: 30px;
      }
    } // section

    section:first-child {
      article {
        width: 100%;
        float: none;

        h3 {
          text-align: left;
          font-size: 32px;
        }

        p {
          width: 90%;
          margin: 10px 0;
          text-align: left;
        }

        &:first-child {
          padding: 100px 5% 60px;
          background-position: 0 -10px;
          height: auto;
          margin-top: 40px;
        }

        &:last-child {
          padding: 80px 5% 60px;
          background-position: 0 -60px;
          height: auto;
          margin-top: 0px;
          border-top: 2px solid $he_red;
        }
      } // article
    } // section:first-child

    section:last-child {

      article {
        padding: 40px 0 30px;

        h4:before {
          margin: 0 0 20px;
        }

        &:first-child {
          h4 {
            margin-top: 40px;
          }
        }
      } // artcile

      #sobre-nos-values {
        padding-bottom: 40px;

        .videothumbs {

          li {
            width: 40%;
            margin: 0 1% 20px 1%;
          }
        }
      } // #sobre-nos-values


    } // section:last-child
  } // about-us


  /* Valores */

  #valores {
    .column-01,
    .column-02 { width: 100%; }
  }


  /* Apoios */

  .logos-list > li { width: 39%; }


  /* Jobs */

  .he-enviroment {
    article,
    img { width: 100%; }
  }

  .positions-available {
    article {
      width: 94%;
      min-height: 0;
      margin: 5px 0 5px 0;
      padding-bottom: 30px;
    }

    .column02 { float: left; }
  }


  /* Process */

  #process-info {
    width: 100%;
    margin: 0 0 30px 0;
    text-align: center;

    > div,
    #tablet-descriptions { display: none; }

    img { width: 85%; }
  }

  #process-entry {
    width: 100%;
    margin-bottom: 40px;

    li {
      font-size: $font-medium;
      line-height: 22px;
    }
  }


  /* Time */

  #time {
    padding-bottom: 20px !important;

    ul {
      > li {
        width: 29%;
        margin-bottom: -35px;

        img,
        a img {
          width: 100%;
          height:auto;
          background: #fff;
          padding: 0;
        }
      }

      p {
        font-size: $font-medium;
        height: 70px;
      }

      span { font-size: 10px; }
    } // ul
  }


  /* Profile */

  #profile {

    section.introduction {
      article {
        h2 {
          font-size: 30px;
        }
      }
    }

    section.bio {
      padding: 10px 0 0;

      article {
        p {
          margin: 10px 0;
          font-size: $font-medium2;
          line-height: 30px;
        }
      }

      h3 {
        margin: 20px 0 10px;
      }
    }

    section.quote {
      padding: 40px 0;

      &:before, &:after {
        display: none;
      }

      .cote {
        border-top: 2px solid rgba( $he_red, 0.8 );
        border-bottom: 2px solid rgba( $he_red, 0.8 );

        p {
          padding-top: 20px;
          font-size: 2.2em;
        }
      }

      p.signature {
        margin-top: 10px;
        font-size: 1.6em;
        padding-bottom: 20px;
      }
    }

    section.projects-worked {
      ul {
        li {
          width: 44%;
          height: auto;
        }
      }
    }

    section.blog-posts {
      article {
        width: 100%;
        height: auto;
        margin: 10px 0;
      }
    }
  }


  /* Services */

  .services {

    .containner {
      width: 90%;
      padding: 0 5% 0 5%;
    }

    h3 {
      font-size: $font-large !important;
      margin: 0 0 20px 0 !important;

      strong {
        display: none;
      }

      span {
        margin-left: 0;
      }
    }

    p {
      font-size: $font-medium2;
      line-height: 26px;
      margin-left: 0
    }

  }

  #to-service-02,
  #to-service-03,
  #to-service-04,
  #to-service-05,
  #to-service-06,
  #to-service-07,
  #to-service-08 {
    margin-left: 0;
  }


  /* Mailing page */

  .cover-mailing-page {
    background-image: url("/images/mailing-cover-bg.jpg");
    background-position: bottom center;
    margin-top: 40px;
  }

  .mailing-form {
    background-image: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #mailing-page h2 {
    width: 100%;
    padding-top: 70px;
    line-height: 30px;
    margin-bottom: 35px;
    text-transform: none;
    font-size: 30px;
    color: $he_red;
  }


  /* Project page - Cases */

  section.case-hero {
    margin-top: 60px;

    article {
      margin-top: 0;

      h2 {
        font-size: 32px;
        line-height: 50px;
      }

      p {
        font-size: 13px;
        margin-top: 10px;
      }

      figure.browser-frame {
        display: none;
      }
    }
  }

  #carousel-slider {
    .slideshow {
      margin: 0 -85%;
    }

    #carousel-slider-prev,
    #carousel-slider-next { display: none !important }
  }

  section.main-infos {
    padding: 40px 0 50px;

    article {
      width: 100%;

      a.btn-mobile {
        display: inline-block;
        padding: 10px 40px;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        text-decoration: none;
        background: $he_red;
        border-radius: 4px;
      }
    }

    aside {
      width: 100%;
      margin-top: 40px;

      ul {
        li {
          margin-bottom: 10px;
          width: 50%;
          float: left;
        }
      }
    }
  }

  section.client {
    padding: 30px 0 60px;

    h3 { text-align: center; }

    article.video {
      width: 100%;
      margin: 0 0 45px;

      .video-thumb {
        width: 70%;
        margin: auto auto 20px !important;
        display: block;
      }
    }

    article.testimonial {
      width: 100%;

      i {
        width: 100%;
        margin: 0;
        line-height: 26px;
        text-align: left;
      }

      em {
        margin: 10px 0 0;
        text-align: left;
      }
    }
  }
  
  
  /* Cases */

  .our-cases { 
    padding: 10px 0 50px 0;

    li {
      width: 100%;
      height: auto;
      float: none;
      margin: 35px 0 0 0;
    }
  }


  /* Home: Our Clients */

  .our-clients {

    li {
      width: 45% !important;
      height: 235px !important;
    }
  }


  /* Footer */

  footer { 
    padding: 20px 0 205px 0; 
    position: static;
  }

  .main { padding-bottom: 0 }


  .offices {
    padding: 15px 0 20px 0;
    
    li {
      width: 100%;
      padding: 15px;
      margin: 30px 0 0 0;

      &.phone-contact,
      &.social-he-links {
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    
    .salvador {
      width: 100%;
    }
    
    li:first-child {
      margin-top: 0;
    }
    
    li.phone-contact {
      width: 100%;
      margin-right: 0;
    }
  }

  .footer-links {
    height: auto;
    padding: 5px 0 20px 0;

    p {
      width: 100%;
      height: 30px;
      margin: 0;
    }

    ul {
      width: 100%;
      margin-top: 10px;
    }

    li {
      width: 100%;
      height: 30px;
      margin-top: 1px;
      margin-left: 0;
      display: block;
    }

    a {
      width: 96%;
      padding: 0 2%;
      height: 30px;
      line-height: 30px;
      background: #444;
      display: block;
    }
  }


  /* Talk to us */

  #talk-to-us {
    width: auto;

    input[type="text"],
    input[type="email"] {
      width: 96%;
      padding: 0 2% 0 2%;
    }

    textarea {
      width: 96% !important;
      min-width: 96% !important;
      padding: 2%;
    }

    button { width: 200px; }
  }

  label.error { right: 10px; }


  /* Media Kit */

  .midiakit_wrap {

    p{ max-width: 80%; }

    ul.downloads {
      li{ width: 300px; }
    }

  }

  .box_colors { height: auto; }

  .responsive_option {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .font_show_img { display: block; }

  .box_fonts,
  .box_download { height: auto; }

   #font_show,
  .box_colors_show,
  .bt_download { display: none; }
}


/*
Max Width, 581px
Media Queries with adjustments for Smartphones
------------------------------------------------------------------------------*/

@media (max-width:581px) {

  .blog-posts {
    width: 100%;
    margin-bottom: 0;
  }

  .projects-worked {
    width: 100%;
    margin-bottom: 0;
  }

  #mailing {
    li div { margin-left: 90px; }
    img { width: 70px; }
  }

  .modalBox {
    width: 260px;
    padding: 17px 10px 10px 10px;
    top: 5%;
    margin-left: -145px;
  }

  #about-us {
    section:first-child {
      article {
        &:first-child {
          padding: 60px 5% 20px;
          background-position: 0 0;
        }

        &:last-child {
          padding: 40px 5%;
          background-position: 0 0;
          margin-top: 0px;
        }
      }
    }

    section:last-child {
      aside {

        .videothumbs2 li {
          margin: 20px 20px 0 0;
        }
      }
    }
  }


  /* Cliente Feliz */

  #cliente-feliz .client-thumb { width: 96%; }

  #cliente-feliz {
    text-align: center;

    .work-info,
    .client-info {
      text-align: left;
      margin: 0;
    }
  }

  #cliente-feliz .client-thumb {
    width: 60%;
    margin-bottom: 25px;
    display: inline-block;
    float: none;
  }


  /* Work MVP */

  #work-mvp {
    padding: 40px 0;

    h3 {
      font-size: 22px;
      line-height: 38px;
    }

    ul {
      margin: 30px 0  0 5%;
    }

    li {
      text-align: center;
      margin: 0 1% 25px 1%;
      width: 45%;
    }
    
    li:nth-child(odd) { background: #f2f2f2; }
    li:nth-child(even) { background: #f8f8f8; }
  }


  /* Profile */

  #profile {
    section.projects-worked {
      ul {
        li {
          width: 100%;
          height: auto;
          margin: 20px 0;
          float: none;
        }
      }
    }
  }


  /* Media Kit */

  .midiakit_wrap {

    p { max-width: 100%; }

    ul.downloads {
      li {
        width: 70%;
      }
    }

  }

  .resizeble_img {
    width: 300px;
    height: 121px;
  }

  .box_colors { height: auto; }

  .responsive_option {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .box_fonts { height: auto; }

  .font_show_img { display: block; }
  .box_download { height: auto; }

  #font_show,
  .box_colors_show,
  .bt_download { display: none; }

  ul.downloads li {
    width: 300px;
  }

}


/*
Max Width, 481px
Media Queries with more adjustments for Smartphones
------------------------------------------------------------------------------*/

@media (max-width: 481px) {


  #home {
    section.hero {

      h2 {
        font-size: $font-large;
      }

      h3 {
        font-size: $font-medium2;
        line-height: 28px;
      }
    }
  }

  .icons a img { width: 50px; }

  .red-button { max-width: 220px; }

  .cover-jobs li {
    margin: 10px 0 0 0;
    display: inline-block;
  }

  #time ul > li {
    width: 44%;
    vertical-align: top;
  }

  .high-light-projects div {
    width: 96%;
    padding: 2%;
    min-height: 0;
    float: left;
  }

  .high-light-projects div:first-child { margin-bottom: 20px; }

  section#cliente-feliz{

    .videothumbs li, .videothumbs li.quote, .videothumbs2 li { width: 90%; }
    .videothumbs li img:hover, .videothumbs2 li img:hover{ opacity: 0.5; }

    .videothumbs li:hover, .videothumbs2 li:hover {
      background: url("/images/play.jpg") no-repeat white;
      background-size: 100%;
    }

  }

  .videothumbs li, .videothumbs2 li { width: 90%; }
  .videothumbs li img:hover, .videothumbs2 li img:hover{ opacity: 0.5; }

  .videothumbs li:hover, .videothumbs2 li:hover {
    background: url("/images/play.jpg") no-repeat white;
    background-size: 100%;
  }

  .logos-list > li { width: 90%; }

  /*-*/

  .submenuhome { display:none; }
  .ourprocess { display:none; }
  .thumbs { display: none; }


  /* Work MVP */

  #work-mvp {
    padding: 20px 0 35px 0;
    position: relative;

    .more {
      position: absolute;
      bottom: 10px;
      left: 50%;
      display: block;
      font-size: 18px;
      line-height: 18px;
      margin: 0 0 0 -10px;
      padding: 0 7px 4px;
      border-radius: 0 8px 8px 0;
      background: #e8e8e8;
      text-align: center;
      color: #b80606;
      border: none;
      text-decoration: none;

      /* Safari */
      -webkit-transform: rotate(90deg);

      /* Firefox */
      -moz-transform: rotate(90deg);

      /* IE */
      -ms-transform: rotate(90deg);

      /* Opera */
      -o-transform: rotate(90deg);

      /* Internet Explorer */
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    }

    &.expanded {
      li:nth-child(n+6) { display: block; }
      .more {
        /* Safari */
        -webkit-transform: rotate(-90deg);

        /* Firefox */
        -moz-transform: rotate(-90deg);

        /* IE */
        -ms-transform: rotate(-90deg);

        /* Opera */
        -o-transform: rotate(-90deg);

        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
      }
    }

    h3 {
      font-size: 18px;
      line-height: 30px;
    }

    ul {
      margin: 20px 0 0 0;
    }

    li {
      display: block;
      width: 80%;
      margin: 0 auto 10px;
      border-radius: 4px;
      padding: 10px 0;
      text-align: center;

      &:nth-child(n+6) {
        display: none;
      }

      a:hover { color: $grey3; }
    }
  }


  /* MVP Projects */

  .mvp-projects li {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    .about{
      font-size: 12px;
      padding: 10px;
    }
  }


  /* AtendeSimples */

  #hero-atendesimples {

    h2 {
      font-size: $font-medium;
      line-height: 26px;
      letter-spacing: normal;
      word-spacing: normal;
    }

    blockquote {
      width: 100%;
      margin: 0 auto;

      i {
        font-size: $font-medium;
        line-height: 22px;
      }

      em {
        margin-top: 10px;
      }
    }

    a.btn {
      font-size: $font-small;
      width: 90%;
      max-width: auto;
      padding: 10px 40px;
      margin-top: 20px;
    }
  }

  section#atendesimples-steps aside {
    padding: 20px 0;

    iframe { height: 260px }

    p {
      font-size: 14px;
      line-height: 26px;

      b {
        margin-right: 0;
        width: 100%;
        display: block;
      }
    }
  }


  /* Project page - Cases */

  section.main-infos aside ul li {
    width: 100%;
  }
  section.client article.video .video-thumb {
    width: 90%;
  }


  /* Media Kit */

  .midiakit_wrap {

    p{
    max-width: 100%;
    }

    ul.downloads {
      li{
      width: 80%;
      }
    }

  }

  .box_colors { height: auto; }
  .responsive_option { display: block; }
  .box_download { height: auto; }

  #font_show,
  .box_fonts,
  .box_colors,
  .bt_download { display: none; }


  .resizeble_img {
    width: 250px;
    height: 101px;
  }

  .font_show_img {
    width:280px;
    height: auto;
  }
}


/* Webkit Hacks  */

@media screen and (-webkit-min-device-pixel-ratio:0) {
  #tiptip_content {
    padding: 4px 8px 5px 8px;
    background-color: rgba(45,45,45,0.88);
  }
  #tiptip_holder.tip_bottom #tiptip_arrow_inner {
    border-bottom-color: rgba(45,45,45,0.88);
  }
  #tiptip_holder.tip_top #tiptip_arrow_inner {
    border-top-color: rgba(20,20,20,0.92);
  }
}


/* Fix Mobile Menu */

@media only screen and (min-width: 687px) {
  #menu2 { display: block !important; }
}
