.main-footer{
	background-color: $black;
	color:$light;
	*{
		font-family: $base-font-family !important;
	}
	
	section{
		padding:0;
		display: block;
		clear:both;
		.wrapper{
			padding:rem(30);
			clear:both;
		}
		h3{
			font-size:rem(16);
			font-weight: 700;
			color:$light-primary;
			text-transform: uppercase;
			text-align: left;
		}

		ul{
			li{
				a{
					color:$light-primary;
				}
			}
		}
		
		.section-articles{
			float:left;
			font-size:rem(12);
			&__box{
				@include span-columns(4 of 12);
			}
			h4{
				color:$light-red;
			}
			p{
				font-size:rem(12);
			}
			.full-link{
				color:#89817e;
				font-style: italic;
				float:right;
				text-decoration: underline;
			}
		}

		.section-articles.article{

			max-width: 76%;
		}
		.section-articles.books{
			max-width: 23%;
			margin-left:1%;
		}

		&.section-footer__about--links{

			.wrapper{
				border-bottom:1px solid rgba(242, 235, 235, 0.20);
				border-top:1px solid rgba(242, 235, 235, 0.20);

				.section-footer-about{
					float:left;
					width:35%;
					margin-right:5%;
					p{
						font-size:rem(22);
						line-height: 40px;
					}
					.about-together{
						font-weight: 700;
					}
					.btn-hire-us{
						border: 1px solid $light-red;
						border-radius: rem(10);
						font-size: rem(28);
						color: #f2ebeb;
						padding: rem(15) rem(35);
						margin-top:20px;
						float:left;
					}
				}

				.section-footer-links{
					float:right;
					width:60%;
					&__box{
						float:left;
						width:20%;
						ul{
							padding-left: 0;
							li{
								list-style: none;
								padding:rem(5) 0;
								a{
									font-size:rem(14);
									color:$light-primary;
									cursor:pointer;
								}
							}
						}
					}
				}
			}
		}
		&.from-social{
			.wrapper{
				padding:rem(30) 0 rem(20) 0;
				p{
					color:$light-primary;
					font-size:rem(12);
					float:left;
					margin:0;
					text-align: justify;
				}
				.footer-social{
					float:right;
					padding: 0;
					margin:0;
					list-style: none;
					li{
						
					}
				}
			}
		}
	}

}