.main-footer {
  background-color: $black;
  color: $light;

  * {
    font-family: $base-font-family !important;
  }

  section {
    clear: both;
    display: block;
    padding: 0;

    .wrapper {
      clear: both;
      padding: rem(30);
    }

    h3 {
      color: $light-primary;
      font-size: rem(16);
      font-weight: 700;
      text-align: left;
      text-transform: uppercase;
    }

    ul {

      a {
        color: $light-primary;
      }
    }

    .section-articles {
      float: left;
      font-size: rem(12);

      &__box {
        @include span-columns(4 of 12);
      }

      h4 {
        color: $light-red;
      }

      p {
        font-size: rem(12);
      }

      .full-link {
        color: $warm-grey;
        float: right;
        font-style: italic;
        text-decoration: underline;
      }

      &.article {
        max-width: 76%;
      }

      &.books {
        margin-left: 1%;
        max-width: 23%;
      }
    }

  }
}

.section-footer__about--links {

  .wrapper {
    border-bottom: 1px solid rgba($light, .2);
    border-top: 1px solid rgba($light, .2);
  }

  .section-footer-about {
    float: left;
    margin-right: 5%;
    width: 35%;

    p {
      font-size: rem(22);
      line-height: 40px;
    }

    .about-together {
      font-weight: 700;
    }

    .btn-hire-us {
      border: 1px solid $light-red;
      border-radius: rem(10);
      color: $light-primary;
      float: left;
      font-size: rem(28);
      margin-top: 20px;
      padding: rem(15) rem(35);
    }
  }

  .section-footer-links {
    float: right;
    width: 60%;

    &__box {
      float: left;
      width: 20%;

      ul {
        padding-left: 0;
      }

      li {
        list-style: none;
        padding: rem(5) 0;
      }

      a {
        color: $light-primary;
        cursor: pointer;
        font-size: rem(14);
      }
    }
  }
}

.from-social {

  .wrapper {
    padding: rem(30) 0 rem(20);

    p {
      color: $light-primary;
      float: left;
      font-size: rem(12);
      margin: 5px 0 0;
      text-align: justify;
    }
  }

  .footer-social {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      a {
        display: block;
        height: 26px;
        text-indent: -9999px;
        width: 26px;
      }
    }

    .social-github {
      background: url('/site-2016/images/icon-github.png') no-repeat top left;
    }

    .social-linkedin {
      background: url('/site-2016/images/icon-linkedin.png') no-repeat top left;
    }

    .social-instagram {
      background: url('/site-2016/images/icon-instagram.png') no-repeat top left;
    }

    .social-facebook {
      background: url('/site-2016/images/icon-facebook.png') no-repeat top left;
    }

    .social-twitter {
      background: url('/site-2016/images/icon-twitter.png') no-repeat top left;
    }
  }
}

.section-waiting {
  background-color: $light-red;
  clear: both;
  padding: 40px;
  text-align: center;

  &__title {
    color: $dark;
    font-size: rem(60);
  }

  &__subtitle {
    color: $light;
    font-family: $base-font-family;
    font-size: rem(40);
    margin: 0 0 10px;
  }

  .btn-waiting {
    border: 2px solid $light;
    border-radius: rem(10);
    clear: both;
    color: $light;
    display: inline-block;
    font-size: rem(38);
    font-weight: bold;
    margin-top: 20px;
    padding: rem(15) rem(55);
  }
}


.section-team {
  @include span-columns(12);
  background: url('/site-2016/images/background-video1.gif') no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  min-height: 85vh;
  overflow: hidden;
  position: relative;

  &__bg {
    @include span-columns(12);
    background: url('/site-2016/images/pattern.png') repeat center center;
    height: 100vh;
    min-height: rem(770);
    padding: 40px 0;
    position: absolute;
  }

  .wrapper {
    max-height: 660px;
    overflow: hidden;
  }

  &__heading {
    margin: 0 auto 40px;
    max-width: rem(870);
    text-align: center;
  }

  &__title {
    color: $light-red;
    display: inline-block;
    font-size: rem(60);
    position: relative;
  }

  &__subtitle {
    clear: both;
    color: $light;
    font-family: $base-font-family;
    font-size: rem(18);
    line-height: rem(28);
    margin: rem(30) 0 0;
  }

  &__box {
    float: left;
    margin-right: 0 !important;
    width: 100%;

    img,
    figure {
      height: 100%;
      max-width: 100%;
      vertical-align: bottom;
    }
  }

  &__columns {
    float: left;

    &.column-small {
      float: left;
      max-width: 232px;
      width: 17%;
    }

    &.column-middle {
      float: left;
      max-width: 325px;
      width: 23.8%;
    }

    &.column-big {
      float: left;
      max-width: 348px;
      width: 25.5%;
    }

    &.column-extra {

      float: left;
      max-width: 464px;
      width: 33.7%;

      .section-team__box {
        width: 50%;
      }
    }
  }

  &__description {
    color: $greyish-brown;
    font-size: rem(18);
    line-height: rem(28);
    margin: 0 auto;
    max-width: rem(330);
    text-align: center;
  }

  .column-middle,
  .column-big {

    .bx-wrapper {
      background: $light-red;
      margin: 0;
      padding: 0;

    }

    .bx-viewport {
      background: $light-red;
      border: 0;
      box-shadow: none !important;
      height: 153px !important;
      left: 0;
      margin: 0;
      padding: 0;
    }

    .bx-pager {
      bottom: 10px !important;
      z-index: 99 !important;

      &.bx-default-pager a {
        background-color: rgba($light, .4) !important;
      }

      &.bx-default-pager a:hover,
      &.bx-default-pager a.active {
        background-color: $light-primary !important;
      }
    }

    .bxblog,
    .bxtwitter {
      color: $light;
      display: inline;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        max-width: 320px;
        padding: 20px;
      }

      a {
        color: $light;
        font-family: $base-font-family;
        font-size: rem(16);
      }

      h3 {
        font-family: $base-font-family;
        font-size: rem(16);
        font-weight: bold;
        line-height: rem(22);
        margin-bottom: 0 !important;
        text-transform: uppercase;
      }

      p {
        font-family: $base-font-family;
        font-size: rem(16);
        margin-bottom: 0 !important;
        margin-top: 5px;
      }
    }
  }

  .column-big {
    .bx-viewport {
      background: $light-red url('/site-2016/images/icon-team-twitter.png') no-repeat right 20px;
      height: 160px;
    }
  }

  .column-middle {
    .bx-viewport {
      background: $light-red url('/site-2016/images/icon-team-helabs.png') no-repeat right 20px;
    }
  }

  .meet-team {
    @include size(rem(100) rem(239));
    background-color: $darkish-red;

    .btn-team {
      @include vertical-align();
      color: $white-smoke;
      display: block;
      font-size: rem(26);
      padding: 0 10px;
      text-align: center;

      &::after {
        border-bottom: 1px solid $light;
      }
    }
  }
}

.section-how {
  @include pad(rem(60) 0);
  @include span-columns(12);
  background: $light-primary;
  min-height: rem(768);

  &__heading {
    margin: 0 auto;
    max-width: rem(870);
    text-align: center;
  }

  &__title {
    color: $light-red;
    display: inline-block;
    font-size: rem(60);
  }

  &__subtitle {
    color: $greyish-brown;
    display: inline-block;
    font-family: $base-font-family;
    font-size: rem(18);
    line-height: rem(28);
    margin: rem(30) 0 0;

    ins {
      color: $light-red;
      font-weight: 700;
    }
  }

  &__box {
    margin-top: rem(85);
    text-align: center;
    li {
      display: inline-block;
      list-style: none;
      @include span-columns(4 of 12);
      a {
        color: $darkish-red;
        font-size: rem(26);
        text-align: center;
      }

      // img {
      //   max-width: 250px;
      //   max-height: 250px;
      // }
      strong {
        display: block;
      }
    }

    .btn {
      border: 2px solid $darkish-red;
      border-radius: rem(10);
      clear: both;
      color: $darkish-red;
      display: inline-block;
      font-family: $serifa-font-family;
      min-width: 230px;
      min-height: 68px;
      font-size: rem(24);
      letter-spacing: -2px;
      margin-top: 60px;
      padding: 18px 35px 0px 35px;

      &::after {
        content: url('/site-2016/images/arrow.svg');
        display: block;
        margin-top: -15px;
      }
    }
  }
}
