// *************************************
//
// layouts/home
//
// *************************************
.main-banner {
  @include span-columns(12);
  background: url('/site-2016/images/background-video1.gif') no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  min-height: rem(770);
  overflow: hidden;
  position: relative;

  &__bg {
    @include span-columns(12);
    background: url('/site-2016/images/pattern.png') repeat center center;
    height: 100vh;
    min-height: rem(770);
    position: absolute;
  }

  &__content {
    margin: rem(164) auto 0;
    max-width: rem(950);
  }

  &__title {
    color: $light-red;
    font-size: rem(100);
  }

  &__subtitle {
    color: $light;
    font-family: $base-font-family;
    font-size: rem(40);
    font-weight: 300;
  }

  &__arrow-down {
    @include position(absolute, null null rem(24) null);
    @include size(100% 80px);
    background: url('/site-2016/images/services-arrow-down.png') no-repeat top center;
    display: block;

    .animation {
      @include position(relative, 50px null null null);
      @include size(2px 5px);
      animation: upDown 500ms infinite;
      background-color: $light-primary;
      border-radius: 100%;
      display: block;
      margin: auto;
    }
  }
}

.section-services {
  @include pad(rem(60) 0);
  @include span-columns(12);
  background: $light-primary;
  min-height: rem(768);

  &__heading {
    margin: 0 auto;
    max-width: rem(870);
    text-align: center;
  }

  &__title {
    color: $light-red;
    display: inline-block;
    font-size: rem(60);
  }

  &__subtitle {
    color: $greyish-brown;
    display: inline-block;
    font-family: $base-font-family;
    font-size: rem(18);
    line-height: rem(28);
    margin: rem(30) 0 0;

    ins {
      color: $light-red;
      font-weight: 700;
    }
  }

  &__box {
    @include span-columns(4 of 12);
    margin-top: rem(85);
    text-align: center;

    img {
      max-width: rem(160);
    }
  }

  &__service {
    color: $darkish-red;
    font-family: $heading-font-family;
    font-size: rem(26);
    margin-top: rem(26);
    text-align: center;
  }

  &__description {
    color: $greyish-brown;
    font-size: rem(18);
    line-height: rem(28);
    margin: 0 auto;
    max-width: rem(330);
    text-align: center;
  }

  strong {
    font-weight: 700;
  }
}

.section-projects {
  @include pad(rem(60) 0);
  @include span-columns(12);
  background: $white-smoke;

  &__heading {
    display: block;
    margin: 0 auto rem(60);
    max-width: rem(870);
    text-align: center;
    width: 100%;
  }

  &__title {
    color: $light-red;
    display: inline-block;
    font-size: rem(60);
  }

  &__subtitle {
    color: $greyish-brown;
    font-family: $base-font-family;
    font-size: rem(18);
    line-height: rem(28);
    margin: rem(30) 0 0;

    ins {
      color: $light-red;
      font-weight: 700;
    }
  }
}

.section-brands {
  @include pad(rem(60) 0);
  @include span-columns(12);
  background: $greyish-brown;
  min-height: rem(360);

  &__title {
    color: $light-primary;
    font-family: $heading-font-family;
    font-size: rem(30);
    text-align: center;
    width: 100%;
  }

  &__list {
    margin: rem(60) 0 0;
    padding: 0;

    &--item {
      @include span-columns(2, inline-block);
      height: rem(100);
      line-height: rem(85);
      text-align: center;
    }

    img {
      max-height: rem(55);
      max-width: 100%;
    }

  }
}
