<ul class="logos-list">
  <li>
    <a href="http://riojs.org/">
      <img src="{{ 'apoios/riojs.jpg' | asset_path }}" alt="Rio.JS" />
      <p>Rio.JS</p>
    </a>
  </li>
  <li>
    <a href="http://selfrj.org/">
      <img src="{{ 'apoios/selfrj.jpg' | asset_path }}" alt="Self RJ" />
      <p>Self RJ</p>
    </a>
  </li>
  <li>
    <a href="http://kolaborativa.com">
      <img src="{{ 'apoios/kolaborativa.jpg' | asset_path }}" alt="Kolaborativa" />
      <p>Kolaborativa</p>
    </a>
  </li>
  <li>
    <a href="http://grokpodcast.com/">
      <img src="{{ 'apoios/grokpodcast.png' | asset_path }}" alt="GrokPodcast" />
      <p>GrokPodcast</p>
    </a>
  </li>
  <li>
    <a href="http://rupy.com.br">
      <img src="{{ 'apoios/rupy.png' | asset_path }}" alt="RUPY 2012" />
      <p>RUPY 2012</p>
    </a>
  </li>
  <li>
    <a href="http://railsgirls.com/riodejaneiro">
      <img src="{{ 'apoios/railsgirls.jpg' | asset_path }}" alt="Rails Girls Rio" />
      <p>Rails Girls Rio</p>
    </a>
  </li>
  <li>
    <a href="http://agilebrazil.com.br">
      <img src="{{ 'apoios/agilebrazil.png' | asset_path }}" alt="Agile Brazil 2012" />
      <p>Agile Brazil 2012</p>
    </a>
  </li>
  <li>
    <a href="http://geeksonbeer.com">
      <img src="{{ 'apoios/geeksonbeer.jpg' | asset_path }}" alt="Geeks On Beer" />
      <p>Geeks On Beer</p>
    </a>
  </li>
  <li>
    <a href="http://circuitostartup.com">
      <img src="{{ 'apoios/circuitostartup.png' | asset_path }}" alt="Circuito Startup" />
      <p>Circuito Startup</p>
    </a>
  </li>
  <li>
    <img src="{{ 'apoios/frontinrio.jpg' | asset_path }}" alt="Front in Rio 2012" />
    <p>Front in Rio 2012</p>
  </li>
</ul>
