<footer>
  {% include offices.html %}
  <nav class="footer-links">
    <div class="containner">
      <p>&copy; {{ site.time | date: '2010/%Y' }} HE:labs.</p>
      <ul>
        <li><a href="/pt/opensource/">Open Source</a></li>
        <li><a href="/pt/comunidade/">Comunidade</a></li>
        <li><a href="/pt/mailing/" data-no-instant>Mailing</a></li>
        <li><a href="/pt/midiakit/">Midia Kit</a></li>
        <li><a href="http://helabs.com.br/blog/" data-no-instant>Blog</a></li>
        <li><a href="/pt/fale-conosco/" data-no-instant>Fale Conosco</a></li>
      </ul>
    </div>
  </nav>
</footer>
