<header class="default">
  <div class="containner">

    <h1>
      <a href="/pt/" title="Página inicial">
        <img class="logo" src="/images/logo.png" alt="HE:labs">
      </a>
    </h1>

    <a class="languages" href="{% if page.en %}{{ page.en }}{% else %}/en{% endif %}">
      EN Version
    </a>

    <nav id="menu2">
      <ul>
        <li><a id="menu-love" href="/pt/love/">HE:<span class="doispontos">❤</span></a></li>
        <li><a id="menu-servicos" href="/pt/servicos/">Serviços</a></li>
        <li><a id="menu-trabalho" href="/pt/trabalho/">Trabalho</a></li>
        <li><a id="menu-metodologia" href="/pt/magica/">Metodologia</a></li>
        <li><a id="menu-time" href="/pt/nosso-time/">Time</a></li>
        <li><a id="menu-he-cast" href="/pt/hecast/">HE:cast</a></li>
        <li><a id="menu-empresa" href="/pt/sobre-nos/">Empresa</a></li>
        <li><a href="/pt/fale-conosco/" data-no-instant>Fale Conosco</a></li>
      </ul>
    </nav>

    <a id="menu-trigger">
      Menu
    </a>

  </div>
</header>


<script type="text/javascript">
  mixpanel.track_links("#menu-love", "Clicked - Menu HE love");
  mixpanel.track_links("#menu-servicos", "Clicked - Menu Serviços");
  mixpanel.track_links("#menu-trabalho", "Clicked - Menu Trabalho");
  mixpanel.track_links("#menu-metodologia", "Clicked - Menu Metodologia");
  mixpanel.track_links("#menu-time", "Clicked - Menu Nosso Time");
  mixpanel.track_links("#menu-sobre-nos", "Clicked - Menu Sobre nos");
</script>
