<header class="default">
  <div class="containner">

    <h1>
      <a href="/en/" title="Back to home">
        <img class="logo" src="/images/logo.png" alt="HE:labs">
      </a>
    </h1>

    <a class="languages" href="{% if page.pt %}{{ page.pt }}{% else %}/{% endif %}">
      Versão em PT/BR
    </a>

    <nav id="menu2">
      <ul class="global-menu">
        <li><a href="/en/love/">HE:<span class="doispontos">❤</span></a></li>
        <li><a href="/en/services/">Services</a></li>
        <li><a href="/en/work/">Work</a></li>
        <li><a href="/en/magic/">Methodology</a></li>
        <li><a id="menu-team" href="/en/our-team/">Team</a></li>
        <li><a href="/en/about-us/">About us</a></li>
        <li><a href="/en/contact/" data-no-instant>Contact us</a></li>
      </ul>
    </nav>

    <a id="menu-trigger">
      Menu
    </a>

  </div>
</header>
