{% if page.with_job_openings %}
  <section id="jobs">

    <div class="containner">
      <h3 class="form-title">Curtiu? Preencha o formulário abaixo!</h3>

      <form id="talk-to-us" action="https://helabs.wufoo.eu/forms/x7x2q5/#public" method="post" name="form8" autocomplete="off">
        <input name="Field31" type="hidden" value="Team"/>
        <input name="Field35" type="hidden" value="{{ page.url }}"/>
        <input name="Field37" type="hidden" value="{{ include.job_title }}" />

        <ul>
          <li><input name="Field18" type="text" class="text spacing" placeholder="Seu nome" required></li>
          <li><input name="Field19" type="text" class="text spacing" placeholder="Seu sobrenome" required></li>
          <li><input name="Field3" type="text" class="text spacing" placeholder="Seu Email" required></li>
          <li><input id="phone" name="Field16" type="text" class="text" placeholder="Seu usuário no Skype ou Telefone" required></li>
          <li><textarea name="Field5" cols="" rows="" class="text" placeholder="Mande o link do seu GitHub, blog ou portfolio e diga por que você curte a HE:labs! Seja detalhista e fale bastante de sua experiencia" required></textarea></li>
          <li><button name="saveForm" type="submit">Enviar</button></li>
        </ul>
        <div style="display:none;">
          <label for="comment">Do Not Fill This Out</label>
          <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
          <input type="hidden" id="idstamp" name="idstamp" value="Jal0NbH7k3GrinmOORbLY2/bUZwIQZfSkVXdl6Ow4Ag=">
        </div>

      </form>
      <div class="remodal" data-remodal-id="public">
        <h1>Seus dados foram enviados com sucesso! </h1>
        <br>
        <p>
          O time HE:labs verificará as informações e caso seu perfil seja condizente com o perfil esperado para a vaga, entraremos em contato em até 7 dias. 
        </p>
        <br>
        <a class="remodal-cancel" href="#">OK</a>
      </div>

    </div>
  </section> <!-- /jobs -->

  <script type="text/javascript">
    $(function(){
      if(window.location.hash == "#public") {
        $(function () {
            var inst = $.remodal.lookup[$('[data-remodal-id=public]').data('remodal')];
            inst.open();
            inst.close();
        });
      }
    });
  </script>
  <script src='/javascripts/source/jquery.remodal.js'  data-no-instant></script>

{% endif %}