<div class="containner">
  <ul class="offices">
    <li class="rj-rio">
      <address>
        <a href="http://goo.gl/embem8" rel="nofollow external">
          <h3>Rio de Janeiro</h3>
          Rua da Glória 190, sala 1002<br>
          Glória<br>
          Rio de Janeiro - RJ<br>
          20241-180, Brasil
        </a>
      </address>
    </li>
    <li>
      <address>
        <a href="https://goo.gl/maps/Geuev" rel="nofollow external">
          <h3>Miami</h3>
          201 South Biscayne Blvd.<br>
          Suite#1200. Downtown Miami<br>
          Miami - FL<br>
          33131, USA
        </a>
      </address>
    </li>
    <li class="social-he-links">
      <h3>Social</h3>
      <a href="https://twitter.com/helabs" class="twitter" rel="nofollow external">Twitter</a>
      <a href="https://github.com/Helabs" class="github" rel="nofollow external">Github</a>
      <a href="https://dribbble.com/helabs" class="dribble" rel="nofollow external">Dribble</a>
    </li>
    <li class="phone-contact">
      <h3>Telefones</h3>
      Brasil<br>
      <a class="tel" href="tel:+552131800006">
        +55 (21) 3180-0006
      </a><br>
      EUA<br>
      <a class="tel" href="tel:+17865484054">
        +1 (786) 548 4054
      </a>
    </li>
  </ul>
</div>