@charset "utf-8";


/* ====================
Home
==================== */

/* Hero Cover */

#home .hero {
  background: $grey3 url("/images/home/hero-image.jpg");
  padding: 160px 0 60px 0;
  border-bottom: 4px solid $grey2;
  background-position: center top;
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;

  h2 {
    width: auto;
    color: $white;
    background: rgba($black, .3);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    padding: 25px 30px 30px 30px;
    font-weight: bold;
    display: block;
    font-size: $font-extra-big;
  }

  h3 {
    margin: 2px 0 20px 0;
    color: $white;
    font-size: $font-large;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 38px;
    background: rgba($black, .1);
    display: block;
    padding: 20px 30px 25px 30px;
  }
  
}


/* What we do */

#home .what-we-do {
  background: $white;
  @include clearfix;
  padding: 60px 0 70px 0;

  article {
    width: 30%;
    margin-left: 4%;
    display: inline-block;
    vertical-align: top;
    height: 180px;

    h4 {
      font-size: 24px;
      color: $he_red;
      text-transform: uppercase;
      font-weight: 300;
    }

    p {
      margin-top: 15px;
      font-size: $font-medium;
      color: rgba($grey3, .9);
      line-height: 26px;

      em { color: $black; }
    }
  } //  article
  
  article:first-child {
    margin-left: 0;
  }
}



/* Our clients */
#home section.our-clients,
#home section.our-cases {
  
  padding: 60px 0 50px;
  background-color: $light-grey1;
  border-top: 1px solid $light-grey2;

  h4 {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.06em;
    word-spacing: 0.15em;
    color: $grey4;
    text-transform: uppercase;
    text-align: center;
  }

  p {
    margin-top: 25px;
    font-size: 16px;
    text-align: center;
    color: rgba( $grey3, 0.8 );

    span { display: block }
  }

  ul {
    width: 100%;
    overflow: hidden;
    margin-top: 60px;
    text-align: center;

    li {
      width: 22%;
      height: 185px;
      background-color: #fff;
      border-radius: 3px;
      margin: 0 1% 30px 1%;
      border: 1px solid $grey1;
      display: inline-block;

      img {
        width: 100%;
        margin: auto;
        display: block;
      }

      h5 {
        width: 100%;
        border-top: 1px solid $light-grey2;
        font-size: $font-medium2;
        padding-top: 14px;
        margin-top: 0;

        span {
          font-weight: normal;
          display: block;
          color: rgba( $grey3, 0.6 );
          margin-top: 5px;
          font-size: $font-medium;
        }
      }

      &:nth-child(4n+4) { margin-right: 0; }
    }
  }
}

#home section.our-clients ul li a {
  color: inherit;
  text-decoration: none;
}


/* Cases */

#home section.our-cases { 
  clear:both;
  padding-bottom: 30px;

  article {
    width: 100%;
    padding: 50px 0 50px 0;
    clear: both; 
    overflow: hidden;
  }

  .work-info p {
    text-align: left;
  }

  .even-work {
    .thumb {
      float: right;
    }
  }
}


/* Testimonial */

#home section.testmonial {
  padding: 20px 0 25px 0;
  background-color: $grey4;
  @include clearfix;

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid $light-grey1;

    position: relative;
    top: -23px;
    margin-left: -10px;
    left: 50%;
  }

  blockquote {
    width: 80%;
    margin: 0 auto;
    display: block;
    color: $grey2;
    font-size: 22px;
    line-height: 40px;
    font-weight: 300;
    text-align: center;
    font-style: italic;
  }

  figure {
    width: 80px;
    margin: 10px auto 0;
  }

  p {
    text-align: center;
    color: rgba( $light-grey2, 0.6 );
    display: block;
    margin-top: 10px;

    a {
      color: $grey2;
    }
  }
}


/* Our Blog */

#home section.our-blog {
  padding: 60px 0 70px 0;
  @include clearfix;

  h4 {
    font-size: 30px;
    letter-spacing: 0.04em;
    font-weight: 500;
    color: $he_red;
    text-align: center;
    text-transform: uppercase;
  }

  p {
    margin: 20px 0 60px;
    font-size: 16px;
    text-align: center;
    color: $grey3;
  }

  .loading {
    background: image-url('/images/loading.gif') no-repeat center bottom;
    min-height: 60px;
  }

  article {
    //width: 31%;
    //float: left;
    //margin-right: 25px;
    text-align: left;
    
    //&:last-child { margin-right: 0; }
    
    &.slide {
      margin: 0;  
    }

    h5 {
      margin: 0;

      a {
        font-size: 18px;
        line-height: 32px;
        font-weight: 600;
        display: block;
        color: $grey4;
        text-decoration: underline;

        &:hover { color: $he_red; }
      }
    }

    p {
      margin-top: 5px;
      font-size: 12px;
      line-height: 28px;
      color: rgba( $grey3, 0.6 );
      margin-bottom: 0;
      text-align: left;

      span { color: $grey3; }
    }
  } // article
}


/* Red Button */

.red-button,
.white-button {
  width: 437px;
  height: 60px;
  background: url("/images/red-button.png") center no-repeat;
  text-decoration: none;
  font: 22px 'lato';
  text-transform: uppercase;
  padding-top: 35px;
  padding-left: 70px;
  text-align: left;
  display: block;
  margin: 0 auto;
  z-index: 9999;
  color: #fff;

  &:hover { opacity: .8; }
}




/*  SIDETAG OF MAURO'S BOOK   */


.side-tag {
  background: #000;
  background: rgba(0,0,0, 0.5);
  color: #fff;
  height: 140px;
  left: -120px;
  padding: 20px 0 20px 20px;
  position: fixed;
  top: 180px;
  width: 140px;
  z-index: 1;
  border-radius: 0 5px 5px 0;

  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;

  &:hover {
    left: 0;
    
    .action-link { display: none }
    .book-link { display: block }
  }

  .action-link {
    display: block;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    height: 25px;
    margin:0;
    padding:0;
    top:70px;
    right:-25px;
    position: absolute;
  }

  .book-link { display: none }

  .autor, hr {
    width: 70px;
    margin-left: 0;
  }

  .autor {
    font-size: 14px;
    display: inline-block;
  }

  a { 
    color: #fff;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    text-decoration: none;
  }

  .cover-book {
    background-position: center center;
    background: url("/images/home/book.png") no-repeat;
    content: " ";
    display: inline-block;
    height: 83px;
    margin: 10px 0 0 15px;
    position: absolute;
    width: 60px;
  }
}