@charset "utf-8";

/* ====================
Trabalho / Work
==================== */


// Work Second Level

#work-more {
  padding: 60px 0 20px;
  border-top: 1px solid $grey1;
  overflow: hidden;

  ul {
    width: 100%;
    margin: auto;
    overflow: auto;

    li {
      float: left;
      width: 30%;
      margin: 0 40px 40px 0;

      .work-thumb {
        @include round_borders (4px);
        border-top-right-radius: 5px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        box-shadow: 0 0 7px #e2e2e2;
        width: 100%;
        background: $light-grey2;
        border: 1px solid $grey2;
        padding: 6px 5px 0 5px;

        .browser-nav {
          border: 1px solid $grey2;
          background: #fff;
          @include round_borders (2px);
          margin-bottom: 5px;
          height: 15px;
        }

        img {
          @include round_borders (2px);
          border-bottom: none;
          padding: 0 1%;
          width: 98%;
          height: 160px;
          overflow: hidden;
          display: block;
        }
      }

      h4 {
        text-align: center;
        margin-top: 10px;
      }
    }
  }

  ul li:nth-child(3n+3) {
    margin-right: 0;
  }
}



/* ====================
Trabalho / Work MVP
==================== */

#work-mvp {
  padding: 60px 0 40px;
  border-top: 1px solid $grey1;

  h3 {
    color: #000000;
    font-size: 30px;
    line-height: 50px;
    font-weight: 400;
    text-align: center;
  }

  ul {
    margin: 60px 0  0 15%;
  }

  li {
    display: inline-block;
    margin: 0 1% 25px;
    width: 30%;

    p {
      text-decoration: none;
      font-size: $font-medium;
      color: $grey3;
    }
  }

  .more { display: none; }
}
