// *************************************
//
// general/header
//
// *************************************
.main-header {
  @include position(absolute, 0 null null 0);
  @include size(100% 100px);
  z-index: 1;
}

.navbar {
  @include outer-container();
  padding: rem(20) $base-spacing 0;

  &-brand {
    @include size(rem(142) rem(50));
    display: block;
    float: left;
  }
}

.navbar-nav {
  @include span-columns(10 of 12);
  float: right;
  text-align: right;
  margin: 0;

  &__item {
    display: inline-block;
    font-size: rem(16);
    margin-left: 2px;
    text-align: center;
    width: 100px;

    a {
      color: $white-smoke;
      //padding: rem(10) rem(25);
    }

    &--btn {
      border: 2px solid $light;
      color: $light;
      border-radius: rem(8);
      padding: 10px 22px;
      width: 120px;
      &:hover {
        font-weight: bold;
      }
    }
  }
}
