// *************************************
//
// components/mosaic
//
// *************************************
.mosaic {
  @include size(100% rem(715));
  background: $greyish-brown;
  display: block;
  margin: 0 auto;
  max-width: rem(1368);
  overflow: hidden;

  figure,
  img {
    float: left;
    height: 100%;
    max-width: 100%;
  }

  &__column {
    @include clearfix;
    @include omega(2n);
    @include span-columns(6 of 12, block-collapse);

    &--one {
      @include clearfix;
      @include omega(2n);
      @include span-columns(4 of 6, block-collapse);
      margin: 0;
    }

    &--two {
      @include clearfix;
      @include span-columns(2 of 6, block-collapse);
      margin: 0;
    }
  }

  &__box {
    display: block;
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;

    img {
      @include filter(grayscale(100%));
      opacity: .9;
      transition: .2s;
    }

    &--video:hover {
      background: url('/site-2016/images/projects-video-background.gif') no-repeat top center;

      img {
        opacity: 0;
      }
    }

  }

  &__box:hover > figure > img {
    @include filter(grayscale(0));
  }

  &__more-projects {
    @include size(100% rem(110));
    background-color: $darkish-red;
    float: left;

    .btn-projects {
      @include vertical-align();
      color: $white-smoke;
      display: block;
      font-family: $serifa-font-family;
      font-size: rem(26);
      padding: 0 10px;
      text-align: center;

      &::after {
        border-bottom: 1px solid $light;
      }
    }
  }

  .icon-play {
    @include size(100%);
    background: url('/site-2016/images/icon-play.png') no-repeat center center;
    display: block;
    opacity: .5;
    position: absolute;
    z-index: 1;

    &:hover {
      opacity: 1;
    }
  }

}

.mosaic-slider {
  @include pad(rem(20));
  @include span-columns(12);
  background: $light-red;
  color: $light;
  min-height: rem(274);

  &__title {
    font-family: $base-font-family;
    font-size: rem(24);
    font-weight: 700;
  }

  .bxprojects {
    margin: 0;
    padding: 0;
  }

  .bx-wrapper {
    background: $light-red;
    margin: 0;
    padding: 0;
  }

  .bx-viewport {
    background: $light-red;
    border: 0;
    height: 153px;
    left: 0;
    margin: 0;
    padding: 0;
  }

  .bx-pager {
    bottom: rem(10);
    z-index: 99;

    &.bx-default-pager a {
      background-color: rgba($light, .4) !important;
    }

    &.bx-default-pager a:hover,
    &.bx-default-pager a.active {
      background-color: $light-primary !important;
    }
  }

  &__quote {
    font-family: $base-font-family;
    font-size: rem(18);
    font-style: italic;
    line-height: rem(28);
    margin-bottom: rem(30);
  }

  &__footer {
    float: right;
    width: rem(280);
  }

  &__profile {
    float: left;
    font-size: rem(16);
    padding-right: rem(10);
    text-align: right;
    width: rem(240);

    .name {
      display: inline-block;
      font-family: $heading-font-family;
    }

    .job {
      display: inline-block;
      font-family: $serifa-font-family;
    }
  }

  &__pic {
    @include size(40px);
    float: right;

    img {
      @include filter(grayscale(0));
      border-radius: 50%;
    }
  }
}


.mosaic__box--hover {
  display: none;
}
