@charset "utf-8";
/* ====================
Cases
==================== */
.case-hero {
  margin: 80px 0 0;
  border-bottom: 1px solid $light-grey2;
  overflow: hidden;
  background: $he_red;

  article {
    padding: 30px 0;
    position: relative;

    h2 {
      font-size: 36px;
      color: #fff;
      text-transform: uppercase;
      font-weight: normal;
    }

    p {
      margin: 0;
      font-size: $font-medium2;
      color: #fff;
      width: 60%;
    }

    .btn-web {
      border-radius: 4px;
      background: #fff;
      height: 50px;
      line-height: 50px;
      margin-top: 20px;
      font-size: $font-medium2;
      font-weight: 500;
      color: $he_red;
      display: inline-block;
      padding: 0 25px 0 25px;
      text-decoration: none;

      &:hover { opacity: .9; }
    }

    figure.browser-frame {
      background: image-url('cases/browser.png') no-repeat;
      width: 460px;
      height: 260px;
      overflow: hidden;
      float: right;
      margin: 0;
      padding: 0;

      img {
        display: block;
        margin-top: 26px;
        width: 100%;
      }

    } // figure
  } // div
} // .case-hero


/* Main Information */

.main-infos {
  width: 100%;
  padding: 50px 0;
  overflow: hidden;

  article,
  aside {

    h3 {
      margin-bottom: 30px;
      color: $he_red;
      font-size: $font-large;
      border-bottom: 1px solid $grey2;
      padding-bottom: 10px;
      font-weight: 300;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 15px;
      color: $grey4;
      font-size: $font-medium2;
      line-height: 28px;
    }

    .btn-mobile { display: none; }
  }

  &.with-team {
    article {
      width: 65%;
      float: left;
    }

    aside {
      width: 30%;
      float: right;
    }
  }
}

.main-infos aside ul {
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    margin-bottom: 5px;
    padding: 0;

    figure {
      width: 50px;
      float: left;
      margin: 0;
      padding: 0;
      margin-right: 15px;

      img { display: block }
    }
  }

  a {
    display: block;
    text-decoration: none;
    overflow: auto;

    &:hover { opacity: .9; }
  }

  h4 {
    margin: 5px 0 -2px 0;
    color: $he_red;
    font-size: $font-medium;
  }

  p {
    margin: 0;
    color: $grey4;
    font-size: $font-small;
  }
}

.external-link {
  background: asset-url('external_link.png') 0 center no-repeat;
  padding-left: 30px;
  background-size: auto 20px;
  color: #fff;
  font-size: 20px;
  height: 20px;
  line-height: 20px;
  display: block;
  text-decoration: none;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 0;
}


/* Testimonials */

.client {
  background: #F7F7F7;
  padding: 50px 0;
  width: 100%;
  overflow: hidden;

  h3 {
    text-transform: uppercase;
    color: $he_red;
    font-size: 19px;
    letter-spacing: 0.04em;
    word-spacing: 0.1em;
    font-weight: 500;
    margin-bottom: 20px;
  }

  article { float: left; }

  .video {
    float: none;

    .video-thumb {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      box-shadow: 0 4px 8px -3px #d8d8d8;
      width: 31.6%;
      background: #fff asset-url("play.jpg") no-repeat;
      background-size: 100%;
      margin: 0;
      padding: 10px;
      display: inline-block;
      opacity: 1;
      margin-right: 2%;

      &:last-child { margin-right: 0 }

      img {
        width: 100%;
        display: block;
        opacity: .7;

        &:hover { opacity: 1; }
      }
    } // .video-thumb
  } // .video

  .testimonials { padding-top: 30px }
  .testimonial {
    blockquote {
      display: block;
      font-size: $font-medium2;
      line-height: 26px;
      color: $grey4;
      font-style: italic;
      font-weight: lighter;
      text-align: left;
      padding: 0;
      margin: 0;
    }

    em {
      margin: 10px 0 0;
      display: block;
      color: $grey3;
      text-align: left;
    }
  } // .testimonial
} // .client


#carousel-slider {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  position: relative;

  .carousel-slider-nav {
    width: 64px;
    height: 64px;
    display: block;
    text-indent: -9999em;
    content: "";
    top: 50%;
    margin-top: -32px;
    position: absolute;
    background-size: 64px auto !important;
    z-index: 100;
    opacity: 0.7;

    &:hover { opacity: 1 }
  }

  #carousel-slider-prev {
    left: 70px;
    background: asset-url("cases/slider-prev.png") 0 0 no-repeat;
  }

  #carousel-slider-next {
    right: 70px;
    background: asset-url("cases/slider-next.png") 0 0 no-repeat;
  }

  .slideshow {
    background: #333;
    margin: 0 -45%;

    img {
      opacity: 0.2 !important;
      -webkit-transition: opacity linear 100ms;
      -moz-transition: opacity linear 100ms;
      transition: opacity linear 100ms;
      cursor: pointer;

      &:hover { opacity: 0.3 !important }
    }

    .cycle-slide-active+img {
      opacity: 1 !important;
      cursor: default;
    }
  }

}
