// *************************************
//
// base/variables
//
// *************************************

// Typography
$base-font-family: 'Source Sans Pro', sans-serif;
$heading-font-family: 'serifa_bqroman', sans-serif;
$serifa-font-family: 'Serifa Std', sans-serif;
$headings: 'h1, h2, h3, h4, h5, h6';

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.2;
$heading-line-height: 1.2;

// Other Sizes
$base-spacing: $base-line-height * 1rem;
$small-spacing: $base-spacing / 2;

// Colors
$dark: #3b3131;
$light: #fff;
$black: #383232;
$light-red: #ff4245;
$darkish-red: #a40810;
$greyish-brown: #444141;
$matterhorn: #594d4c;
$light-primary: #f2ebeb;
$warm-grey: #89817e;

// Font Colors
$base-font-color: $dark;
$action-color: $dark;

// Background Colors
$base-background-color: darken($light, 2%);

