---
layout: default
title: Web Software Development
description: HE:labs é uma empresa pioneira em desenvolvimento de sistemas web, aplicativos web, SaaS e Cloud Computing.
en: /en/
body_id: "home"
---

<div class="main">

  <div id="home">

    <div class="side-tag">
      <span class="action-link">Livro RSpec</span>
      <div class="book-link">
        <a href="http://www.casadocodigo.com.br/products/livro-rspec" target="_blank">
          <span>Compre o livro <br>e vire expert em RSpec.</span>
          <div class="cover-book"></div>
        </a>
        <hr>
        <div class="autor">por Mauro George</div>
      </div>
    </div> <!-- / side-tag -->

    <section class="hero">
      <div class="containner">
        <h2>Desenvolvimento Ágil</h2>
        <h3>Abusamos da agilidade, da tecnologia e do design para transformar ideias em produtos.</h3>
      </div>
    </section> <!-- /hero cover -->

    <section class="what-we-do">
      <div class="containner">
        <article>
          <img src="/images/home/column-01-icon.jpg" alt="O que fazemos">
          <h4>O que fazemos</h4>
          <p>Software pra web e mobile: Aplicativos, lojas, integração com sistemas corporativos e cloud.</p>
          <p><a href="/trabalho" class="more-link">cases</a></p>
        </article>
        <article>
          <img src="/images/home/column-02-icon.jpg" alt="Como fazemos">
          <h4>Como fazemos</h4>
          <p>Usamos modernas metodologias e práticas de desenvolvimento de produto como <em>Design Thinking</em>, <em>Lean Startup</em> e <em>Desenvolvimento Ágil</em> para transformar a sua ideia em um produto rentável.</p>
          <p><a href="/magica" class="more-link">metodologia</a></p>
        </article>
        <article>
          <img src="/images/home/column-03-icon.jpg" alt="Quem somos">
          <h4>Quem somos</h4>
          <p>Uma equipe multidisciplinar de <em>designers</em>, <em>programadores</em>, <em>analistas</em> e <em>especialistas</em> nas tecnologias mais adequadas para realizar o seu projeto.</p>
          <p><a href="/nosso-time" class="more-link">time</a></p>
        </article>
      </div>
    </section> <!-- /what-we-do -->

    <section class="our-cases">
      <div class="containner">

        <h4>Nossos cases</h4>
        <p class="headline-desc">
          Os aplicativos que desenvolvemos estão sendo utilizados em diversos setores e segmentos. <span>Alguns destaques que atingem milhares de usuários:</span></p>
        </p>

        <ul>
          <li>
            <div class="thumb">
              <a href="/pt/cases/atende-simples/" title="Conheça o case do Atende Simples">
                <img src="/images/works/atendesimples.jpg" alt="Atende Simples">
              </a>
            </div>
            <div class="info">
              <h5>Atende Simples</h5>
              <p>A Atende Simples disponibiliza atendimento telefônico 3003 ou 0800 para empresas, de forma fácil e com rapidez.</p>
              <a href="/pt/cases/atende-simples/" class="more-link">
                Veja a história
              </a>
            </div>
          </li>
          <li>
            <div class="thumb">
              <a href="/pt/cases/espn-mobile/" title="Saiba como desenvolvemos o ESPN Mobile">
                <img src="/images/home/cases-espn-mobile.png" alt="Case ESPN Mobile">
              </a>
            </div>
            <div class="info">
              <h5>ESPN.com.br Mobile</h5>
              <p>Desenvolvimento mobile do site ESPN.com.br e integração direta com a base de conteúdo da ESPN, com zero trabalho de implementação pelo cliente.</p>
              <a href="/pt/cases/espn-mobile/" class="more-link">
                Saiba como desenvolvemos
              </a>
            </div>
          </li>
          <li>
            <div class="thumb">
              <a href="/pt/trabalhos/espn-tempo-real/">
                <img src="/images/works/espn-tempo-real.jpg" alt="ESPN Tempo Real">
              </a>
            </div>
            <div class="info">
              <h5>ESPN Tempo Real</h5>
              <p>Desenvolvimento do Tempo Real, onde é transmitido eventos esportivos ao vivo.</p>
              <a href="/pt/trabalhos/espn-tempo-real/" class="more-link">Saiba Mais</a>
            </div>
          </li>
          <li>
            <div class="thumb">
              <a href="/pt/trabalhos/espn-br/">
                <img src="/images/works/espn-br.jpg" alt="ESPN BR">
              </a>
            </div>
            <div class="info">
              <h5>ESPN.com.br</h5>
              <p>Desenvolvimento do portal da ESPN Brasil. Com a versão responsiva, sanou diversos problemas com o público deste meio, que não conseguiam acessar o portal por um dispositivo mobile.</p>
              <a href="/pt/trabalhos/espn-br/" class="more-link">Saiba Mais</a>
            </div>
          </li>
        </ul>

      </div>
    </section> <!-- /our-cases -->

    <section class="our-clients">
      <div class="containner">

        <h4>Alguns de Nossos Clientes</h4>
        <p class="headline-desc">
          Ajudamos startups e grandes empresas em todo o mundo. Estes são alguns de nossos clientes.
        </p>

        <ul>
          <li>
            <img src="/images/home/clients-citrix.png">
            <h5>Citrix<span>Estados Unidos</span></h5>
          </li>
          <li>
            <a href="/pt/trabalhos/espn-br/">
              <img src="/images/home/clients-espn.png">
              <h5>Espn<span>Brasil</span></h5>
            </a>
          </li>
          <li>
            <a href="/pt/trabalhos/early-shares/">
              <img src="/images/home/clients-early-shares.png">
              <h5>EarlyShares<span>Estados Unidos</span></h5>
            </a>
          </li>
          <li>
            <img src="/images/home/clients-uol.png">
            <h5>Uol<span>Brasil</span></h5>
          </li>
          <li>
            <img src="/images/home/clients-brand-star-me.png">
            <h5>BrandStarMe<span>Inglaterra</span></h5>
          </li>
          <li>
            <img src="/images/home/clients-samba-ads.png">
            <h5>Samba Ads<span>Brasil</span></h5>
          </li>
          <li>
            <img src="/images/home/clients-locaweb.png">
            <h5>Locaweb<span>Brasil</span></h5>
          </li>
          <li>
            <a href="/pt/trabalhos/atende-simples/">
              <img src="/images/home/clients-atende-simples.png">
              <h5>Atende Simples<span>Brasil</span></h5>
            </a>
          </li>
          <li>
            <a href="/pt/trabalhos/movingscripts/">
              <img src="/images/home/clients-movingscripts.png">
              <h5>MovingScripts<span>Estados Unidos</span></h5>
            </a>
          </li>
          <li>
            <img src="/images/home/clients-brasil-pre-pagos.png">
            <h5>Brasil Pré-Pagos<span>Brasil</span></h5>
          </li>
          <li>
            <img src="/images/home/clients-b2w.png">
            <h5>B2W<span>Brasil</span></h5>
          </li>
          <li>
            <img src="/images/home/clients-boleto-simples.png">
            <h5>Boleto Simples<span>Brasil</span></h5>
          </li>
          <li>
            <img src="/images/home/clients-abstartups.png">
            <h5>ABStartups<span>Brasil</span></h5>
          </li>
          <li>
            <img src="/images/home/clients-easyfood.jpg">
            <h5>EasyFood<span>Brasil</span></h5>
          </li>
          <li>
            <img src="/images/home/clients-vida-funcional.jpg">
            <h5>Vida Funcional<span>Brasil</span></h5>
          </li>
          <li>
            <img src="/images/home/clients-project-builder.jpg">
            <h5>Project Builder<span>Brasil</span></h5>
          </li>
          <li>
            <img src="/images/home/clients-logoserv.jpg">
            <h5>Logoserv<span>Brasil</span></h5>
          </li>
          <li>
            <img src="/images/home/clients-objective.jpg">
            <h5>Objective<span>Brasil</span></h5>
          </li>
          <li>
            <img src="/images/home/clients-pm20.jpg">
            <h5>PM20<span>Brasil</span></h5>
          </li>
          <li>
            <img src="/images/home/clients-bonuzme.jpg">
            <h5>Bonuz.me<span>Brasil</span></h5>
          </li>
        </ul>
      </div>
    </section> <!-- /our-clients -->

    <section class="test-list">
      <div class="containner">

        <h4>Depoimentos</h4>
        <p class="headline-desc">
          Somos gratos por termos clientes fantásticos!
        </p>

        <ul>
          <li class="marcos-test">
            <img src="/images/testimonials/marcos.jpg">
            <div class="test-infos">
              <p>"Para desenvolver a nossa Solução queríamos o que havia de melhor no mercado utilizando as melhores práticas de desenvolvimento ágil e para o mundo de startups. O nosso processo de contratação de um fornecedor foi bem criteriosa chegando até à análise dos profissionais que seriam alocados para trabalhar diretamente conosco.</p>
              <p>A escolha pela HE:Labs, mesmo sendo o fornecedor mais caro, se deu pela competência e compromisso demonstrado por um dos executivos, pela forma de trabalho, pelas referências e pela experiência dos profissionais alocados.</p>
              <p>O período de desenvolvimento utilizando a metodologia da HE:labs funcionou muito bem durante todo o Projeto. Superou nossa expectativa de tempo e colocamos em produção na metade do tempo que prevíamos!</p>
              <p>E atendeu plenamente as nossas expectativas pelo uso de melhores práticas mundiais e reuso de recursos agilizando o processo! Estamos muito contentes com a nossa Solução, com a HE:labs e com o time que esteve conosco sempre 100% engajado!!!"</p>
              <span class="client-name">Marcos Bonadies - Pro2You</span>
            </div>
          </li>
          <li>
            <img src="/images/testimonials/finocchio.jpg">
            <div class="test-infos">
              <p>"Queria dizer que eu fui surpreendido. Durante as duas semanas de Startup Dev Mobile o time deu uma aula de gestão de projetos.</p>
              <p>Achamos que talvez o escopo estivesse grande demais, mas no fim deu tudo certo. E, além disso, entregaram uma coisa que para nós é muito importante: o fator 'Uau!'</p>
              <p>Hoje olho para o app e digo: 'Uau!'"</p>
              <span class="client-name">José Finocchio Jr. - App PM Canvas Mobile</span>
            </div>
          </li>
          <li>
            <img src="/images/testimonials/bruno.jpg">
            <div class="test-infos">
              <p>"Trabalhar com a HE:mobile superou minhas expectativas.</p>
              <p>É muito importante trabalhar com quem o ajuda a desenvolver e estruturar suas ideias, e com a HE:mobile foi assim. Muito mais do que uma equipe capaz de cumprir metas e tarefas, me deparei com pessoas inteligentes e criativas, que elevaram o nível do meu trabalho em todas as esferas."</p>
              <span class="client-name">Bruno Thomé - Projeto App Fly</span>
            </div>
          </li>
          <li>
            <img src="/images/testimonials/klaus.jpg">
            <div class="test-infos">
              <p>"Gostei de trabalhar com o pessoal da HE:Mobile.</p>
              <p>Eles têm um bom domínio das tecnologias envolvidas e se mostraram bastante ágeis e flexíveis ao longo do processo.</p>
              <p>Isso foi fundamental, dada a natureza exploratória do meu projeto."</p>
              <span class="client-name">Klaus Wuestefeld - Objective Solutions</span>
            </div>
          </li>
        </ul>

        <a href="/love">Mais depoimentos</a>

      </div>
    </section> <!-- /test-list -->

    <section class="our-blog">
      <div class="containner">

        <h4>Nosso Blog</h4>
        <p class="headline-desc">
          Escrevemos sobre negócios, design e desenvolvimento. Confira nossos últimos posts.
        </p>

        {% raw %}
          <script id="blog-posts" type="text/x-handlebars-template" data-no-instant="true">
              {{#each posts}}
                <article class="slide">
                  <h5><a href="{{url}}" data-no-instant>{{title}}</a></h5>
                  <p>Por <span>{{author}}</span> em <span>{{date}}</span></p>
                </article>
              {{/each}}
          </script>
        {% endraw %}

        <div class="blog-containner"></div>

      </div>
    </section> <!-- /Our Blog -->
    
  <section class="comunity">
    <div class="containner">

      <h4>Comunidade</h4>
      <p class="headline-desc">
        Sempre suportamos a comunidade com conteúdo, patriocínios, palestras e workshops.
      </p>

      {% include logos_list.html %}

    </div>
  </section> <!-- /comunity -->

  </div> <!-- /home -->

  {% include bottom-nav-pt.html %}

  <script type="text/javascript">
    mixpanel.track_links(".red-button", "Clicked - Referências");
    mixpanel.track_links(".logo-tip-trigger", "Clicked - HE:Mobile");
    mixpanel.track_links(".social-twitter", "Clicked - Twitter HE:labs");
    mixpanel.track_links(".social-github", "Clicked - Github HE:labs");
    mixpanel.track_links(".social-facebook", "Clicked - Facebook HE:labs");
    mixpanel.track_links(".social-youtube", "Clicked - Youtube HE:labs");
    mixpanel.track_links(".social-dribbble", "Clicked - Dribbble HE:labs");
    mixpanel.track_links(".social-blog", "Clicked - Blog HE:labs");
    mixpanel.track_links(".social-mailing", "Clicked - Mailing HE:labs");
  </script>

</div> <!-- /main -->
