---
layout: default
title: On-demand Software Development
description: HE:labs é uma empresa pioneira em desenvolvimento de sistemas web, aplicativos web, SaaS e Cloud Computing.
en: /en/work/
redirect_from: /trabalho/
---

<div class="main">

  <div id="cover-banner">
    <div class="containner">
      <h2>Trabalho</h2>
      <p>Projetos inspiradores. Ideias deslumbrantes.</p>
    </div>
  </div>

  <section class="our-cases">
    <div class="containner">
      <h2>Conheça alguns projetos mobile</h2>
      <ul>
        <li>
          <div class="thumb">
            <a href="/pt/cases/espn-mobile/">
              <img src="/images/home/cases-espn-mobile.png" alt="ESPN Mobile">
            </a>
          </div>
          <div class="info">
            <h5>ESPN.com.br Mobile</h5>
            <p>Desenvolvimento mobile do site ESPN.com.br e integração direta com a base de conteúdo da ESPN, com zero trabalho de implementação pelo cliente.</p>
            <a href="/pt/trabalhos/espn-mobile/" class="more-link">Saiba Mais</a>
            <a href="/pt/cases/espn-mobile/" class="more-link">Veja a história</a>
          </div>
        </li>
        <li>
          <div class="thumb">
            <a href="/pt/trabalhos/pm-canvas/">
              <img src="/images/works/pm-canvas.jpg" alt="PM Canvas">
            </a>
          </div>
          <div class="info">
            <h5>PM Canvas</h5>
            <p>O PM Canvas é um aplicativo para a utilização de criação colaborativa de projetos segundo a metodologia Project Model Canvas.</p>
            <a href="/pt/trabalhos/pm-canvas/" class="more-link">Saiba Mais</a>
          </div>
        </li>
        <li>
          <div class="thumb">
            <a href="/pt/trabalhos/email-marketing-locaweb">
              <img src="/images/works/email-marketing-locaweb.jpg" alt="Email Marketing Locaweb">
            </a>
          </div>
          <div class="info">
            <h5>Email Marketing Locaweb</h5>
            <p>Tenha na palma da mão o controle total dos envios das contas do seu Email Marketing.</p>
            <a href="/pt/trabalhos/email-marketing-locaweb/" class="more-link">Saiba Mais</a>
          </div>
        </li>
        <li>
          <div class="thumb">
            <a href="/pt/trabalhos/flirt/">
              <img src="/images/works/flirt.jpg" alt="Flirt">
            </a>
          </div>
          <div class="info">
            <h5>Flirt</h5>
            <p>O app dá apenas uma chance para falar com pessoas desconhecidas, conectando pessoas novas e evitando insistências indesejadas.</p>
            <a href="/pt/trabalhos/flirt/" class="more-link">Saiba Mais</a>
          </div>
        </li>
        <li>
          <div class="thumb">
            <a href="/pt/trabalhos/brasil-mesada/">
              <img src="/images/works/brasil-mesada.jpg" alt="Brasil Mesada">
            </a>
          </div>
          <div class="info">
            <h5>Brasil Mesada</h5>
            <p>O Brasil Mesada é um App para Android e iOS feito para gerenciamento de gastos através de um cartão de mesada.</p>
            <a href="/pt/trabalhos/brasil-mesada/" class="more-link">Saiba Mais</a>
          </div>
        </li>
        <li>
          <div class="thumb">
            <a href="/pt/trabalhos/medical-log/">
              <img src="/images/works/medical-log.jpg" alt="Medical Log">
            </a>
          </div>
          <div class="info">
            <h5>Medical Log</h5>
            <p>Feito para você nunca mais esquecer os horários dos seus remédios.</p>
            <a href="/pt/trabalhos/medical-log/" class="more-link">Saiba Mais</a>
          </div>
        </li>
        <li>
          <div class="thumb">
            <a href="/pt/trabalhos/fanttazy/">
              <img src="/images/works/fanttazy.jpg" alt="Fanttazy">
            </a>
          </div>
          <div class="info">
            <h5>Fanttazy</h5>
            <p>O Fanttazy é perfeito para você fazer montagens divertidas com a rapidez e a praticidade de estar em seu smartphone.</p>
            <a href="/pt/trabalhos/fanttazy/" class="more-link">Saiba Mais</a>
          </div>
        </li>
         <li>
          <div class="thumb">
            <a href="/pt/trabalhos/beija-eu/">
              <img src="/images/works/beija-eu.jpg" alt="Beija Eu">
            </a>
          </div>
          <div class="info">
            <h5>Beija Eu</h5>
            <p>Quem você procura? Um chat moderno que te ajuda achar pessoas que gostariam de trocar beijos. </p>
            <a href="/pt/trabalhos/beija-eu/" class="more-link">Saiba Mais</a>
          </div>
        </li>
         <li>
          <div class="thumb">
            <a href="/pt/trabalhos/nutrical/">
              <img src="/images/works/nutrical.jpg" alt="Nutrical">
            </a>
          </div>
          <div class="info">
            <h5>Nutrical</h5>
            <p> O app utiliza gráficos para facilitar a compreensão das informações nutricionais dos alimentos, facilitando também seu planejamento alimentar. </p>
            <a href="/pt/trabalhos/Nutrical/" class="more-link">Saiba Mais</a>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="our-cases web">
    <div class="containner">
      <h2>Conheça alguns projetos web</h2>
      <ul>
        <li>
          <div class="thumb">
            <a href="/pt/trabalhos/espn-tempo-real/">
              <img src="/images/works/espn-tempo-real.jpg" alt="ESPN Tempo Real">
            </a>
          </div>
          <div class="info">
            <h5>ESPN Tempo Real</h5>
            <p>Desenvolvimento do Tempo Real, onde é transmitido eventos esportivos ao vivo.</p>
            <a href="/pt/trabalhos/espn-tempo-real/" class="more-link">Saiba Mais</a>
          </div>
        </li>
        <li>
          <div class="thumb">
            <a href="/pt/trabalhos/espn-br/">
              <img src="/images/works/espn-br.jpg" alt="ESPN BR">
            </a>
          </div>
          <div class="info">
            <h5>ESPN.com.br</h5>
            <p>Desenvolvimento do portal da ESPN Brasil. Com a versão responsiva, sanou diversos problemas com o público deste meio, que não conseguiam acessar o portal por um dispositivo mobile.</p>
            <a href="/pt/trabalhos/espn-br/" class="more-link">Saiba Mais</a>
          </div>
        </li>
        <li>
          <div class="thumb">
            <a href="/pt/cases/atende-simples/">
              <img src="/images/works/atendesimples.jpg" alt="Atende Simples">
            </a>
          </div>
          <div class="info">
            <h5>Atende Simples</h5>
            <p>Disponibiliza atendimento telefônico 3003 ou 0800 para empresas, de forma fácil e com rapidez.</p>
            <a href="/pt/trabalhos/atende-simples/" class="more-link">Saiba Mais</a>
            <a href="/pt/cases/atende-simples/" class="more-link">Veja a história</a>
          </div>
        </li>
        <li>
          <div class="thumb">
            <a href="/pt/trabalhos/accredify/">
              <img src="/images/works/accredify.jpg" alt="Accredify">
            </a>
          </div>
          <div class="info">
            <h5>Accredify</h5>
            <p>Um serviço prestado a startups e investidores, que faz todas as verificações necessárias para aprovar um investidor.</p>
            <a href="/pt/trabalhos/accredify/" class="more-link">Saiba Mais</a>
          </div>
        </li>
        
        <li>
          <div class="thumb">
            <a href="/pt/trabalhos/early-shares/">
              <img src="/images/works/earlyshares.jpg" alt="EarlyShares">
            </a>
          </div>
          <div class="info">
            <h5>EarlyShares</h5>
            <p>Serviço de financiamento coletivo que conecta empresários que procuram vender participações do seu negócio com pessoas que querem se transformar em investidor.</p>
            <a href="/pt/trabalhos/early-shares/" class="more-link">Saiba Mais</a>
          </div>
        </li>
        <li>
          <div class="thumb">
            <a href="/pt/trabalhos/worthix/">
              <img src="/images/works/worthix.jpg" alt="Worthix">
            </a>
          </div>
          <div class="info">
            <h5>Worthix</h5>
            <p>Ferramenta para melhorar o posicionamento do seu produto no mercado. </p>
            <a href="/pt/trabalhos/worthix/" class="more-link">Saiba Mais</a>
          </div>
        </li>
        
        <li>
          <div class="thumb">
            <a href="/pt/trabalhos/negocios-brasil/">
              <img src="/images/works/negocios-brasil.jpg" alt="Negócios Brasil">
            </a>
          </div>
          <div class="info">
            <h5>Negócios Brasil</h5>
            <p>Um ambiente online para empresários anunciarem seus negócios e entrar em contanto com donos de outros negócios que despertem interesse.</p>
            <a href="/pt/trabalhos/negocios-brasil/" class="more-link">Saiba Mais</a>
          </div>
        </li>
        <li>
          <div class="thumb">
            <a href="/pt/trabalhos/pet-roomie/">
              <img src="/images/works/pet-roomie.jpg" alt="PetRoomie">
            </a>
          </div>
          <div class="info">
            <h5>PetRoomie</h5>
            <p>Uma comunidade que oferece serviços pro seu pet. Os serviços variam desde hotéis, babás, adestramento, passeio, banho e tosa.</p>
            <a href="/pt/trabalhos/pet-roomie/" class="more-link">Saiba Mais</a>
          </div>
        </li>
        <li>
          <div class="thumb">
            <a href="/pt/trabalhos/manager-book/">
              <img src="/images/works/manager-book.jpg" alt="ManagerBook">
            </a>
          </div>
          <div class="info">
            <h5>ManagerBook</h5>
            <p>Facilita o compartilhamento dos indicadores de desempenho e eficiência de empresas. Conecta toda equipe em uma mesma direção e compartilha com ela todo o conhecimento da empresa.</p>
            <a href="/pt/trabalhos/manager-book/" class="more-link">Saiba Mais</a>
          </div>
        </li>
        <li>
          <div class="thumb">
            <a href="/pt/trabalhos/movingscripts/">
              <img src="/images/works/moving-scripts.jpg" alt="MovingScripts">
            </a>
          </div>
          <div class="info">
            <h5>MovingScripts</h5>
            <p>Uma comunidade aberta onde, com um sistema de votação e um tema por semana, roteristas criam, compartilham e passam feedback. Assim a comunidade pode ver se suas idéias tem condições de ser comercializadas.</p>
            <a href="/pt/trabalhos/movingscripts/" class="more-link">Saiba Mais</a>
          </div>
        </li>
        <li>
          <div class="thumb">
            <a href="/pt/trabalhos/tattoo/">
              <img src="/images/works/tattoo.jpg" alt="747700">
            </a>
          </div>
          <div class="info">
            <h5>747700</h5>
            <p>Um site onde artistas disputam prêmios ao enviar propostas de desenhos para tatuagens. O cliente publica um concurso, interage com artistas e, ao final, escolhe o vencedor e faz o download do desenho para levar ao tatuador.</p>
            <a href="/pt/trabalhos/tattoo/" class="more-link">Saiba Mais</a>
          </div>
        </li>
        <li>
          <div class="thumb">
            <a href="/pt/trabalhos/websimulado/">
              <img src="/images/works/web-simulado.jpg" alt="WebSimulado">
            </a>
          </div>
          <div class="info">
            <h5>WebSimulado</h5>
            <p>Web Simulado lhe dá acesso a diversos simulados através dos editoriais lançados sobre provas e concursos, marca o seu tempo de prova, estipula seu ranking entre os concorrentes e indica quais matérias/pontos você deverá se dedicar mais.</p>
            <a href="/pt/trabalhos/websimulado/" class="more-link">Saiba Mais</a>
          </div>
        </li>
        <li>
          <div class="thumb">
            <a href="/pt/trabalhos/sala-de-ideias/">
              <img src="/images/works/sala-de-ideias.jpg" alt="Sala de Ideias">
            </a>
          </div>
          <div class="info">
            <h5>Sala de Ideias</h5>
            <p>Sala de Ideias é uma plataforma online criada por psicólogos para lhe inspirar a ter uma vida com mais satisfação e equilíbrio. Conhecimentos e experiências são compartilhadas semanalmente através de textos.</p>
            <a href="/pt/trabalhos/sala-de-ideias/" class="more-link">Saiba Mais</a>
          </div>
        </li>
        <li>
          <div class="thumb">
            <a href="/pt/trabalhos/project-builder/">
              <img src="/images/works/project-builder.jpg" alt="ProjectBuilder">
            </a>
          </div>
          <div class="info">
            <h5>ProjectBuilder</h5>
            <p>Project Builder é um SaaS de gerenciamento de projetos que ajuda a utilizar as melhores práticas do PMI. Gerencie tarefas e prazos entre equipes e colabore em tempo real.</p>
            <a href="/pt/trabalhos/project-builder/" class="more-link">Saiba Mais</a>
          </div>
        </li>
        
      </ul>
    </div>
  </section> <!-- /our-cases -->

  <section class="our-cases" id="work-second-level">
    <div class="containner">
      <ul>
        <li>
          <div class="thumb">
            <div class="browser-nav"></div>
            <img alt="Watch ESPN" src="/images/projects/espn-watch.jpg">
          </div>
          <div class="info">
            <h5>Watch ESPN</h5>
          </div>
        </li>
        <li>
          <div class="thumb">
            <img alt="Shag" src="/images/projects/shag.jpg">
          </div>
          <div class="info">
            <h5>Shag</h5>
          </div>
        </li>
        <li>
          <div class="thumb">
            <img alt="Coobo" src="/images/projects/coobo.jpg">
          </div>
          <div class="info">
            <h5>Coobo</h5>
          </div>
        </li>
        <li>
          <div class="thumb">
            <img alt="Estou Jogando" src="/images/projects/estoujogando.jpg">
          </div>
          <div class="info">
            <h5>Estou Jogando</h5>
          </div>
        </li>
        <li>
          <div class="thumb">
            <img alt="Like My Tip" src="/images/projects/likemytip.jpg">
          </div>
          <div class="info">
            <h5>Like My Tip</h5>
          </div>
        </li>
        <li>
          <div class="thumb">
            <div class="browser-nav"></div>
            <img alt="RSVP" src="/images/projects/rsvp.jpg">
          </div>
          <div class="info">
            <h5>RSVP</h5>
          </div>
        </li>
      </ul>
    </div>
  </section><!-- /works second level -->
  <section id="work-mvp">
    <div class="containner">
      <h3>Além dos projetos continuados acima, nós já desenvolvemos um total de mais de <span data-project-count></span> projetos.</h3>
      <ul>
        {% for project in site.data.mvp.projects %}
          {% unless project.highlighted %}
            <li><p>{{ project.name }}</p></li>
          {% endunless %}
        {% endfor %}
      </ul>
    </div>
  </section> <!-- /works MVP -->

  {% include bottom-nav-pt.html %}

  <script type="text/javascript">
    mixpanel.track_links(".red-button", "Clicked - Entenda nossa Metodologia");
  </script>

</div>
