@charset "utf-8";

/* ====================
User Profile
==================== */


#profile section.introduction {
  padding: 100px 0 30px;
  background: $he_red url("/images/profile-pattern.png");
  border-bottom: 6px solid $grey2;
  overflow: hidden;

  article {
    text-align: center;
    color: #fff;

    figure img {
      margin: auto;
      display: block;
      width: 160px;
      height: 160px;
      border-radius: 50%;
      border: 5px solid rgba( #fff, 0.2 );
    }

    h2  {
      font-size: $font-big;
      font-size: 40px;
      letter-spacing: 0.04em;
    }

    h3 {
      margin-top: 10px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.04em;
      opacity: 0.8;
    }
  }
}


#profile section.bio {
  padding: 30px 0 0;
  background: #fff;
  background: $light-grey1;
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid $grey2;
    position: relative;
    top: -30px;
    left: 50%;
  }

  article {
    width: 70%;
    margin: auto;
  }

  p {
    margin: 15px 0;
    font-size: 20px;
    line-height: 38px;
    text-align: left;
  }


  h3 {
    text-transform: uppercase;
    font-size: $font-large;
    font-weight: 300;
    color: #8e8c8e;
    margin: 5px 0 20px 0;
  }

  h4 {
    text-transform: uppercase;
    font-size: $font-medium;
    font-weight: bold;
    color: #8e8c8e;
    margin: 0 0 10px 0;
  }

  .skill-list {
    overflow: hidden;
    display: inline-block;
  }

  .skill-list { margin: 0 0 20px 0; }

  .skill-tag {
    margin: 0 5px 5px 0;
    padding: 5px 8px;
    background: $grey1;
    @include round_borders(5px);
    display: inline-block;
  }
}


#profile section.quote {
  background: $light-grey1;
  text-align: center;
  padding: 60px 0;
  color: #000;
  margin: 0;
  border-bottom: 1px solid $light-grey2;

  &:before, &:after {
    content: '';
    display: block;
    background: url('/images//divider-quote.png');
    width: 560px;
    height: 4px;
  }

  &:before { margin: 0 auto 50px; }
  &:after { margin: 50px auto 0; }

  .cote p {
    font: 900 2.8em 'lato', sans-serif;
    margin: 0 0 5px 0;
    color: #000;
  }

  p.signature {
    margin-top: 30px;
    font-size: 2em;
    font-weight: normal;
    text-align: center;
    font-style: italic;
    color: $grey3;
  }
}

#profile section.projects-worked {
  padding: 60px 0;
  overflow: hidden;

  h2 {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0.06em;
    color: $grey4;
    text-transform: uppercase;
    text-align: center;
  }

  ul {
    margin-top: 20px;

    li {
      width: 22%;
      height: 140px;
      margin: 30px 14px;
      float: left;

      img {
        width: 98%;
        border: 1px solid $light-grey2;
        padding: 1%;
      }

      h3 {
        margin: 10px 0 0;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        color: $grey3;
      }
    }
  }
}

#profile section.blog-posts {
  padding:60px 0 100px;
  background: $light-grey1;
  border-top: 1px solid $light-grey2;
  overflow: hidden;

  h2 {
    margin-bottom: 40px;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0.06em;
    color: $grey4;
    text-transform: uppercase;
    text-align: center;
  }

  article {
    float: left;
    width: 46%;
    height: 100px;
    background: #fff;
    border: 1px solid $light-grey2;
    margin: 10px 2%;
    padding: 20px;
    border-radius: 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;


    h3 {

      a {
        font-size: 19px;
        line-height: 32px;
        font-weight: 400;
        display: block;
        color: $grey3;
        text-align: center;
        text-decoration: none;

        &:hover { color: $he_red; }
      }
    }
  }
}


/* Social Icons */

.social-links {
  width: auto;
  margin: auto;
  display: block;

  a {
    height: 30px;
    text-decoration: none;
    background: url("/images/icons/profile-social.png") no-repeat;
    padding-left: 33px;
    line-height: 30px;
    margin-right: 25px;
    color: #8e8c8e;
    float: left;
    text-align: center;

    &:hover { opacity: .8; }
  }
}

.profile-twitter { background-position: 0 0 !important; }
.profile-dribbble { background-position: 0 -30px !important; }
.profile-github { background-position: 0 -60px !important; }
.profile-facebook { background-position: 0 -90px !important; }
.profile-behance { background-position: 0 -120px !important; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 240dpi) {
  .social-links a {
    background: url("/images/icons/profile-social@2x.png") left no-repeat;
    background-size: 30px 150px;
  }
}

