@charset "utf-8";


/* ====================
Services
==================== */

.services {
  padding: 40px 0 25px 0;
  @include clearfix;
  
  .containner {
    width: 60%;
    padding-right: 20%;
    padding-left: 20%;
  }

  h3 {
    text-transform: uppercase;
    font-size: 30px;
    margin: 0 0 20px 0;
    color: #000;
  }

  p {
    font-size: $font-medium2;
    line-height: 28px;
  }

}

.services:nth-child(even) {background: $light-grey1; }
.services:nth-child(odd) {background: $light-grey2; }

.service-entry {
  display: none;
}
