@charset "utf-8";


/* ====================
Services
==================== */

.services {
  padding: 40px 0 25px 0;
  @include clearfix;

  h3 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 30px;
    margin: 0 0 20px 0;
    color: $he_red;
  }

  p {
    font-size: $font-medium2;
    line-height: 28px;
  }

}

.services:nth-child(even) {background: $light-grey1; }
.services:nth-child(odd) {background: $light-grey2; }
