@charset "utf-8";


/* ====================
Sobre Nós
==================== */

#about-us {

  section {

    h3, h4 {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.04em;
      margin: 0;
    }

    h3 {
      font-size: 32px;
      font-weight: 700;
      color: #000;
    }

    h4 {
      font-size: $font-large;
      font-weight: 500;
      color: $he_red;
    }

    em {
      display: block;
      width: 80%;
      margin: 20px auto 0;
      font-size: 20px;
      line-height: 38px;
      font-weight: 300;
      font-style: italic;
      text-transform: none;
      text-align: center;
      color: $grey3;
    }


    p {
      width: 80%;
      margin: 20px auto 0;
      font-size: $font-medium2;
      line-height: 36px;
      text-align: left;
      color: $grey3;
    }
  }

  section:first-child {
    background-color: $he_red;
    @include clearfix;

    article {
      width: 50%;
      float: left;
      padding-top: 140px;
      height: 240px;
      margin-top: 40px;
      position: relative;
      @include clearfix;

      h3 {
        font-size: $font-big;
        color: #fff;
      }

      p {
        width: 400px;
        margin: 20px auto 0;
        color: #fff;
        line-height: 28px;
        text-align: center;
        opacity: 0.85;
      }
    }

    article:first-child {
      background: $he_red url('/images/about-us/mission_image.png') center center;
      background-size: cover;
      background-position: 0 20px;
    }

    article:last-child {
      background: $he_red url('/images/about-us/vision_image.png') center center;
      background-size: cover;
      background-position: 0 20px;
    }
  }

  section:last-child {

    article {
      border-top: 1px solid $light-grey2;
      padding: 0 0 100px;

      h4:before {
        content: '';
        display: block;
        background: url('/images/about-us/about_us_icons.png');
        height: 100px;
        width: 100px;
        margin: -50px auto 30px;
      }

      &:nth-child(even)  { background: $light-grey1; }
      &:nth-child(odd)  { background: #fff; }

      &:first-child { h4:before { margin-top: 60px; } }
      &:last-child { padding-bottom: 60px; }


      &:nth-of-type(2) { h4:before { background-position: 0 -100px; } }
      &:nth-of-type(3) { h4:before { background-position: 0 -200px; } }
      &:nth-of-type(4) { h4:before { background-position: 0 -300px; } }
      &:nth-of-type(5) { h4:before { background-position: 0 -400px; } }
      &:nth-of-type(6) { h4:before { background-position: 0 -500px; } }
      &:nth-of-type(7) { h4:before { background-position: 0 -600px; } }
      &:nth-of-type(8) { h4:before { background-position: 0 -700px; } }
      &:nth-of-type(9) { h4:before { background-position: 0 -800px; } }
      &:nth-of-type(10) { h4:before { background-position: 0 -900px; } }
    }

    #sobre-nos-values {
      padding: 50px 0 90px;
      background: #fff;

      .videothumbs {
        margin-top: 40px;
        text-align: center;

        li {
          width: 19%;
          margin: 0 1% 0 1%;
        }
      } // .videothumbs
    } // #sobre-nos-values
  }
}


/* retina display */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 240dpi) {

  #about-us section:last-child article h4:before{
    content: '';
    display: block;
    background: url('/images/about-us/about_us_icons@2x.png');
    background-size: 100px 1000px;
  }
}

/*retina*/
