---
layout: english
title:  Cases - Web Software Development
description: HE:labs é uma empresa pioneira em desenvolvimento de sistemas web, aplicativos web, SaaS e Cloud Computing.
---

<div class="main">

  <section class="case-hero">
    <div class="containner">
      <article>
        <h2>{{ page.name }}</h2>
        <p>{{ page.project_kind }}</p>

        {% if page.project_url %}
          <a class="external-link" href="{{ page.project_url }}" target="_blank">{{ page.display_url }}</a>
        {% endif %}
      </article>
    </div>
  </section>

  {% if page.screenshots %}
    <section id="carousel-slider">
      <div class="slideshow">
        {% for screenshot in page.screenshots %}
          <img src="{{ screenshot.url }}" alt="{{ screenshot.caption }}">
        {% endfor %}
      </div>

      <a href="#" id="carousel-slider-prev" class="carousel-slider-nav"></a>
      <a href="#" id="carousel-slider-next" class="carousel-slider-nav"></a>
    </section>
  {% endif %}

  {% assign has_active_team_members = false %}
  {% if page.project_team %}
      {% for person in site.categories.time %}
        {% for team_member in page.project_team %}
          {% for sa in person.social_accounts %}
            {% if sa.provider == 'github' and sa.username == team_member.github  %}
              {% assign has_active_team_members = true %}
              {% break %}
            {% endif %}
          {% endfor %}
          {% if has_active_team_members %}
            {% break %}
          {% endif %}
        {% endfor %}
        {% if has_active_team_members %}
          {% break %}
        {% endif %}
      {% endfor %}
  {% endif %}

  {% if has_active_team_members %}
  <section class="main-infos with-team">
  {% else %}
  <section class="main-infos">
  {% endif %}
    <div class="containner">
      <article>
        <h3>About the project</h3>
        <p>{{ page.about }}</p>
        <p>{{ page.status }}</p>
        <p>{{ page.what_has_been_done }}</p>

        {{ if page.project_case_url }}
          <p>See the <a href="{{ page.project_url }}" target="_blank">full case</a>.</p>
        {{ endif }}
      </article>

      <aside>
        {% if has_active_team_members %}
          <h3>Team</h3>
          <ul>
            {% for person in site.categories.time %}
              {% for team_member in page.project_team %}
                {% for sa in person.social_accounts %}
                  {% if sa.provider == 'github' and sa.username == team_member.github  %}
                    <li>
                        <a href="{{ person.permalink }}">
                          <figure>
                            <img src="{{ person.image }}" alt="{{ person.full_name }}" width="50" height="50" />
                          </figure>
                          <span>{{ person.full_name }}</span>
                          <p>{{ person.job_title }}</p>
                        </a>
                    </li>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            {% endfor %}
          </ul>
        {% endif %}
      </aside>
    </div>
  </section>

  {% if page.videos or page.customer_experience %}
    <section class="client">
      <div class="containner">
        {% if page.videos %}
          <article class="video">
            <h3>Videos about the project</h3>

            {% for video in page.videos %}
              <div class="video-thumb">
                <a href="http://www.youtube.com/watch?feature=player_embedded&v={{ video.id }}" rel="prettyPhoto">
                <img src="{{ video.image }}"></a>
              </div>
            {% endfor %}
          </article>
        {% endif %}

        {% if page.customer_experience %}
          <div class="testimonials">
            <h3>Customer Testimonial</h3>
            <article class="testimonial">
              <i>{{ page.customer_experience }}</i>
              <em>{{ page.customer_name }}</em>
            </article>
          </div>
        {% endif %}
      </div>
    </section>
  {% endif %}

  <div class="bottom-nav">
    <a class="red-button" href="/en/work/">More Projects</a>
  </div>

</div>
